.interactive_input_container {
  padding: 8px 4px 8px 12px;
  font-size: 12px;
  position: relative;
  background-color: transparent;

  :global {
    .kt-input-addon-after {
      align-items: flex-end;
      margin: 4px 4px 0 0;
    }
    .kt-input-disabled {
      background-color: var(--kt-input-disableBackground) !important;
    }
  }

  &.active {
    border-color: var(--design-inputOption-activeForeground) !important;
  }

  textarea {
    resize: none;
    line-height: 16px;
    &::-webkit-scrollbar {
      width: 4px;
      &:hover {
        width: 10px;
      }
    }
  }

  .input_icon_container {
    .send_chat_btn {
      .stop_icon {
        > span {
          &::before {
            font-size: 16px;
            color: var(--debugIcon-stopForeground);
          }
        }
      }

      .send_icon {
        > span {
          &::before {
            font-size: 16px;
            color: var(--design-inputOption-activeForeground);
          }
        }
      }
      &.active .send_icon,
      .send_icon:hover {
        > span {
          &::before {
            color: var(--kt-primaryButton-background);
          }
        }
      }
    }
  }
}
