.merge_editor_float_container {
  display: flex;
  flex-direction: column;
  background: var(--kt-panelTab-activeBackground);
  box-shadow: inset 1px 1px 3px 0px var(--kt-panelTab-border);
  justify-content: space-between;
  white-space: nowrap;
  z-index: var(--stacking-level-editor-floating-container, 15);

  .merge_editor_float_container_info {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 6px 0;
    padding-left: 14px;

    .merge_editor_nav_operator {
      display: flex;
      justify-content: space-around;
      align-items: center;

      &_btn {
        cursor: pointer;
        user-select: none;
        color: var(--kt-secondaryButton-foreground);
        &:hover {
          color: var(--kt-secondaryButton-hoverForeground);
        }

        &.disabled {
          cursor: unset;
          color: var(--kt-button-disableForeground);
        }
      }
    }

    .vertical-divider {
      display: inline-block;
      width: 2px;
      display: list-item;
      background-color: var(--menu-separatorBackground);
      pointer-events: none;
      overflow: hidden;
      margin: 1px 8px;

      &::marker {
        content: '';
        unicode-bidi: initial;
      }
    }
  }

  .merge_editor_float_container_operation_bar {
    user-select: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    padding-top: 4px;
    padding-right: 20px;
    padding: 10px;
  }

  .merge_conflict_bottom_btn {
    border: 1px solid var(--kt-button-disableForeground);
    border-radius: 8px;
    padding: 5px 16px;
    background: var(--editor-background);
    color: var(--editor-foreground);
    margin: 0 4px;
    line-height: 22px;
    justify-content: end;
    white-space: nowrap;
    cursor: pointer;
    :global {
      .kt-icon {
        font-size: 12px;
      }
    }
    :first-child {
      margin-right: 8px;
    }
  }

  .magic_btn {
    background-image: radial-gradient(circle at -21% -22%, #19cfff, #8429ff);
    border: none;
    font-weight: 500;
    span {
      color: #fff;
    }
    :global {
      .kt-icon {
        color: #fff;
        font-size: 12px;
        margin-right: 8px;
      }
    }
  }

  .line_vertical {
    background-color: var(--design-borderColor);
    width: 1px;
    min-width: 1px;
    height: 24px;
    margin: 4px;
    pointer-events: none;
    overflow: hidden;

    &::marker {
      content: '';
      unicode-bidi: initial;
    }
  }

  .horizontal-divider {
    display: inline-block;
    width: 100%;
    display: list-item;
    background-color: var(--design-borderColor);
    pointer-events: none;
    overflow: hidden;
    height: 1.5px;

    &::marker {
      content: '';
      unicode-bidi: initial;
    }
  }
}
