.array_field_item_template {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  .control_field {
    margin-right: 8px;
    min-width: 180px;
  }

  .toolbar {
    button {
      border-radius: 0;
    }
  }
}

.field_template {
  display: flex;
  flex-direction: column;
}

.array_field_template {
  display: flex;
  flex-direction: column;
  .array_item_description {
    margin-bottom: 8px;
  }
}

.object_field_template {
  .object_field_container {
    .object_title {
      margin-bottom: 16px;
    }

    .object_description {
      margin-bottom: 8px;
    }

    .property_wrapper {
      margin-bottom: 16px;
    }
  }
}

.description_field_template {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.75;
  white-space: pre-wrap;
  color: var(--descriptionForeground);
}

.add_new_field {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  border-style: dashed;
}

.additional_field_template {
  display: flex;
  flex-direction: column;

  .form_additional_container {
    min-width: 300px;
    max-width: 500px;
    width: 100%;

    .form_group {
      display: flex;
      margin-bottom: 12px;

      .form_control {
        margin-right: 16px;
      }
    }

    .form_additional_children {
      .object_field_container {
        display: none;
      }
    }
  }

  .children_field {
    position: relative;

    .object_title,
    .object_description {
      display: none;
    }

    .dividing {
      width: 2px;
      background-color: var(--editorGroup-border);
      height: 100%;
      position: absolute;
    }

    .children_container {
      margin-left: 16px;
    }
  }
}
