@import '../style/variable.less';

.@{prefix}-badge {
  background-color: var(--badge-background);
  color: var(--badge-foreground);
  border: 1px solid var(--kt-badge-border);
  height: 18px;
  line-height: 18px;
  border-radius: 18px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 5px;
  min-width: 18px;
}
