@import '~@ali/ide-core-browser/lib/style/variable.less';

.output {
  font-size: @kt-content-font-size;
  color: @kt-content-font-color0;
  // height: 100%;
  // overflow: auto;
  user-select: text;
  white-space: normal;
  font-family: 'monospace';

  code {
    background-color: transparent;
  }

  .overlay {
    position: absolute;
    top: -28px;
    right: 0;
    margin: 6px;
    display: flex;
    z-index: 1000;
  }

  .clear {
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 21px;
    line-height: 21px;
    opacity: 0.25;
    &.enabled {
      opacity: .7;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.output-tab-icon::before {
  content: "\f024";
}

.select {
  width: auto !important;
  min-width: 150px !important;
}

.outputItem {
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
}
