@import '~@ali/ide-core-browser/lib/style/variable.less';

#outputView {
  font-size: @kt-content-font-size;
  color: @kt-content-font-color0;
}

#outputView #outputContents {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  left: 5px;
  overflow: auto;
  height: inherit;
  padding: 6px;
  box-sizing: border-box;
}

.theia-side-panel #outputView #outputContents {
    margin-left: 14px;
}

#outputView #outputOverlay {
    position: absolute;
    top: -32px;
    right: 0;
    margin: 6px;
    display: flex;
    z-index: 1000;
}

#outputView #outputOverlay > * {
    /* Separation between elements.  */
    margin-left: 6px;

    height: 21px;
    border-width: 1px;
    border-style: solid;
    border-color: @kt-border-color2;
    box-sizing: border-box;

    background: @kt-layout-color4;
}

#outputView #outputChannelList {
    line-height: @kt-content-line-height;
    font-size: @kt-content-font-size;
    color: @kt-content-font-color0;

    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, @kt-border-color2 50%), linear-gradient(135deg, @kt-border-color2 50%, transparent 50%);
    background-position: calc(100% - 6px) 8px, calc(100% - 2px) 8px, 100% 0;
    background-size: 4px 5px;
    background-repeat: no-repeat;
    padding-left: 3px;
    padding-right: 15px;
}

#outputView #outputClear {
    background-image: 'volans_icon code_editor';
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 21px;
    opacity: 0.25;
}

#outputView #outputClear.enabled {
    opacity: 0.7;
    cursor: pointer;
}

#outputView #outputClear.enabled:hover {
    opacity: 1;
}

.output-tab-icon::before {
    content: "\f024"
}
