.debug_stack_item_label {
  display: flex;
  align-items: center;
  padding: 0 5px;
  height: 22px;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    background: var(--list-hoverBackground);
    color: var(--list-hoverForeground);
    .debug_threads_operation {
      display: block;
    }
    .debug_threads_description {
      display: none;
    }
  }
  &.selected {
    background: var(--list-activeSelectionBackground);
    color: var(--list-activeSelectionForeground);
  }
}

.debug_threads_operation {
  display: none;
}
.debug_threads_description {
  display: block;
}

.debug_stack_item_label_title {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.debug_stack_item {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  .debug_stack_item_loading {
    text-align: center;
    font-size: 12px;
    color: #868c91;
    margin-top: 8px;
  }
}

.debug_stack_space {
  width: 16px;
}

.debug_stack_item_next_panel {
  width: 100%;
  display: flex;
  align-items: center;
}

.debug_session_icon {
  padding: 0px 4px;
}

.debug_stack_frames {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  overflow: auto;
}

.debug_stack_frames_item {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 22px;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    background: var(--list-hoverBackground);
    color: var(--list-hoverForeground);
    .debug_restart_frame_icon {
      display: inline-block;
      pointer-events: all;
    }
    .debug_stack_frames_item_badge {
      display: none;
    }
  }
  &.selected {
    background: var(--list-activeSelectionBackground);
    color: var(--list-activeSelectionForeground);
  }
  .debug_restart_frame_icon {
    color: var(--debugIcon-restartForeground);
    display: none;
    pointer-events: none;
    margin: 0 4px;
    border-radius: 4px;
    line-height: 1;
    padding: 2px;
    &:hover {
      background-color: rgba(90, 93, 94, 1);
    }
  }
}
.debug_stack_frames_load_more {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #167cdb;
  width: 100%;
}
.debug_stack_frames_error_message {
  display: block;
  text-align: center;
  width: 100%;
  cursor: default;
  color: var(--list-errorForeground);
  &.hover {
    color: var(--list-errorForeground);
  }
}

.debug_stack_frames_item_label {
  flex: 1;
  margin-right: 12px;
  &.label {
    text-align: left;
    min-width: fit-content;
    opacity: 0.7;
  }
  &.subtle {
    opacity: 0.7;
  }
}
.debug_stack_frames_item_description {
  opacity: 0.6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.debug_stack_frames_item_badge {
  display: inline-block;
  border-radius: 2px;
  padding: 0px 5px;
  background: var(--badge-background);
  color: var(--badge-foreground);
  font-size: 12px;
  margin-left: 5px;
}
.debug_stack_frames_item_hidden {
  opacity: 0.4;
}

.debug_threads_item {
  flex: 1;
  align-items: center;
  padding: 0 5px;
  // height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.debug_threads_item_label {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.debug_threads_item_description {
  font-size: 12px !important;
  opacity: 0.8;
  text-transform: uppercase;
  white-space: nowrap;
}

.debug_stack_thread_operations {
  display: flex;
  div:not(:first-child) {
    margin-left: 4px;
  }
}

.debug_stack_session_operations {
  display: flex;
  margin-right: 5px;
  div {
    padding: 0px 10px;
  }
}

.call_stack_wrapper {
  width: 100%;
}
