.mana-app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mana-toolbar {
  display: flex;
}
.kernel-and-panel {
  height: 100%;
  padding: 0 10px;
  overflow-y: scroll;
}

.kernel-and-panel-header {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
