@import '~@ali/ide-core-browser/lib/style/variable.less';

@tabWidth: 48px;

.activity-bar {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  .tab-container {
    flex: 1;
  }
  .bottom-icon-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    .activity-icon {
      margin-top: 6px;
      &:hover {
        color: var(--activityBar-foreground);
      }
    }
  }
  .activity-icon {
    font-size: 24px;
    width: 24px;
    color: var(--activityBar-inactiveForeground);
    line-height:@tabWidth;
    height: @tabWidth;
    &.mask-mode {
      background-color: var(--activityBar-inactiveForeground);
    }
  }
  .p-TabBar-tabBadge {
    background-color: var(--badge-background);
    color: var(--badge-foreground);
    position: absolute;
    top: 26px;
    right: 8px;
    font-size: 11px;
    min-width: 8px;
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    border-radius: 20px;
    text-align: center;
  }
  .p-TabBar {
    min-height: @tabWidth;
    max-height: inherit;
  }
  .p-TabBar-content{
    border: none;
    align-items: center;
  }
  .p-TabBar-tab {
    padding: 0 0;
    position: relative;
    min-height: @tabWidth;
    max-height: @tabWidth;
    background-color: transparent;
    border: none;
    line-height: normal;
    display:flex;
    justify-content: center;
    align-items: center;
    width: @tabWidth;
    .p-TabBar-tabLabel, .p-TabBar-tabCloseIcon {
      display:none;
    }
  }
  .p-TabBar-tab.p-mod-current {
    background-color: transparent;
    transform: translateY(0);
    .activity-icon {
      color: var(--activityBar-foreground);
      &.mask-mode {
        background-color: var(--activityBar-foreground);
      }
    }
  }
  .p-TabBar-tab:hover:not(.p-mod-current){
    background-color: transparent;
  }
}
