@import '~@ali/ide-core-browser/lib/style/variable.less';

.activity-bar {
  min-height: 100%;
  .activity-icon {
    font-size: 30px;
    color: var(--activityBar-inactiveForeground);
    width: 30px;
    line-height:50px;
    height: 50px;
    &.mask-mode {
      background-color: var(--activityBar-inactiveForeground);
    }
  }
  .p-TabBar-tabBadge {
    color: rgb(215, 218, 224);
    background-color: rgb(82, 139, 255);
    position: absolute;
    top: 26px;
    right: 8px;
    font-size: 11px;
    min-width: 8px;
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    border-radius: 20px;
    text-align: center;
  }
  .p-TabBar {
    min-height: 50px;
    max-height: inherit;
  }
  .p-TabBar-content{
    padding-top: 20px;
    border: none;
    align-items: center;
  }
  .p-TabBar-tab {
    padding: 0 0;
    position: relative;
    min-height: 50px;
    max-height: 50px;
    background-color: transparent;
    border: none;
    line-height: normal;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    .p-TabBar-tabLabel, .p-TabBar-tabCloseIcon {
      display:none;
    }
  }
  .p-TabBar-tab.p-mod-current {
    background-color: transparent;
    transform: translateY(0);
    .activity-icon {
      color: var(--activityBar-foreground);
      &.mask-mode {
        background-color: var(--activityBar-foreground);
      }
    }
  }
  .p-TabBar-tab:hover:not(.p-mod-current){
    background-color: transparent;
  }
}

.views-container {
  overflow: hidden;
}

.views-container:focus {
  border: none;
  outline: none;
}

.views-container-section {
  width: 100%;
}

.views-container-section-title {
  display: flex;
  padding-left: 4px;
  overflow: hidden;
  line-height: 22px;
  color: var(--sideBarSectionHeader-foreground);
  font-size: 80%;
  font-weight: 500;
  background-color: var(--sideBarSectionHeader-background);
  text-transform:  uppercase;
  cursor: pointer;
  user-select: none;
  &.p-mod-hidden {
    display: none;
  }
}

.views-container-section-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.views-container-section-content {
  min-height: 30px;
  // color: var(--activityBar-foreground);
  font-size: 12px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.views-container-section-content > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.views-container-section-content .tree-view-icon {
  padding-right: 6px;
  -webkit-font-smoothing: antialiased;
}

.tree-view-inline-action {
  background-size: 22px !important;
  width: 22px !important;
  height: 22px !important;
}

.views-container-section-content .TreeNodeContent {
  align-items: center;
}
