.kt-icon {
  display: inline-block;
  background-repeat: no-repeat;
  cursor: pointer;
  color: var(--kt-icon-foreground);
  line-height: 1;

  &.mask-mode {
    background-color: var(--foreground);
  }


  &-loading {
    animation: ktIconloadingCircle 1s infinite linear;
  }

  &-small {
    font-size: 14px;
  }

  &-large {
    font-size: 16px;
  }


  &-clickable {
    &:hover {
      // transform: scale(1.2);
      color: var(--kt-icon-hoverForeground);
    }

    &:active {
      // transform: scale(1.2);
      color: var(--kt-icon-clickForeground);
    }
  }

  &-disabled {
    color: var(--kt-icon-disableForeground);
    pointer-events: none;
    cursor: not-allowed;
  }
}


@keyframes ktIconloadingCircle {
  100% {
    transform: rotate(360deg)
  }
}
