.icon {
    display: inline-block;
    background-repeat: no-repeat;
  
    &:global(.mask-mode) {
      background-color: var(--foreground);
    }
  
    &.loading {
      animation: loadingCircle 1s infinite linear;
    }
  
    &.small {
      font-size: 14px;
      height: 14px;
      line-height: 14px;
      width: 14px;
    }

    &.large {
      font-size: 16px;
      height: 16px;
      line-height: 16px;
      width: 16px;
    }
  }
  
  @keyframes loadingCircle {
    100% {
      transform: rotate(360deg)
    }
  }
  