@import '../../style/variable.less';
@import '~react-perfect-scrollbar/dist/css/styles.css';

::-webkit-scrollbar {
  display: none;
  height: @kt-scrollbar-width;
  width: @kt-scrollbar-width;
  background: var(--scrollbarSlider-background)
}

::-webkit-scrollbar-thumb {
  background: @kt-scrollbar-thumb-color;
  box-shadow: 1px 0 0 var(--scrollbar-shadow);
}

::-webkit-scrollbar:hover {
  background: var(--scrollbarSlider-hoverBackground)
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbarSlider-hoverBackground)
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.ps__rail-x {
  background-color: transparent !important;
  z-index: 20;
}

.ps__rail-y {
  background-color: transparent !important;
  z-index: 20;
}

.ps__rail-x:hover>.ps__thumb-x,
.ps__rail-x:focus>.ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 6px !important;
}

.ps__thumb-y {
  width: 10px;
  border-radius: 0;
  right: 0;
}

.ps__rail-y {
  &:hover {
    & > .ps__thumb-y {
      width: 10px;
    }
  }
  width: 10px;
}
