@import '../../style/variable.less';
@import '~react-perfect-scrollbar/dist/css/styles.css';

::-webkit-scrollbar {
    display:none;
    height: @kt-scrollbar-width;
    width: @kt-scrollbar-width;
    background: @kt-scrollbar-rail-color;
}

::-webkit-scrollbar-thumb {
    background: @kt-scrollbar-thumb-color;
}

::-webkit-scrollbar:hover {
    background: @kt-scrollbar-active-rail-color;
}

::-webkit-scrollbar-thumb:hover {
    background: @kt-scrollbar-active-thumb-color;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.ps__rail-x {
    background-color: transparent !important;
}
.ps__rail-y {
    background-color: transparent !important;
}
.ps__rail-x:hover > .ps__thumb-x, .ps__rail-x:focus > .ps__thumb-x, .ps__rail-x.ps--clicking .ps__thumb-x {
    background-color: #999;
    height: 6px !important;
}
