.vscode/**
typings/**
out/**
test/**
src/**
images/**
**/*.map
.gitignore
.github/**
tsconfig.json
vsc-extension-quickstart.md
undefined/**
CONTRIBUTING.md
.vscode-test/**
**/**.vsix
**/**.tar.gz
dist/**/*.map
webpack.*.json
node_modules
.editorconfig
.travis.yml
gulpfile.jsonJenkinsfile
tslint.json
webpack.config.js
