
.wrap {
  position: relative;
}

.wrap :global(.ps__rail-y) {
  left: auto !important;
  right: 0 !important;
}

.gray {
  opacity: 0.3;
}

.selected {
  background: var(--list-inactiveSelectionBackground);
}

.empty {
  padding: 5px;
}

@keyframes loading {
  0%   {
    left: 0;
  }
  50% {
    left: calc(100% - 20px);
    width: 20px;
  }
  100% {
    left: 0;
  }
}
