
.wrap {
  position: relative;
}

.gray {
  opacity: 0.3;
}

.selected {
  background: var(--kt-sideBarList-selectionBackground);
  :global(.kt-button) {
    color: var(--kt-whiteGhostButton-foreground);
    border-color: var(--kt-whiteGhostButton-border);
  }
  :global(.kt-extension-raw-description) {
    color: var(--kt-sideBarList-foreground);
  }
}

.empty {
  padding-top: 35px;
  text-align: center;
  color: var(--descriptionForeground);
}

.last_item {
  margin-bottom: 32px;
}

@keyframes loading {
  0%   {
    left: 0;
  }
  50% {
    left: calc(100% - 20px);
    width: 20px;
  }
  100% {
    left: 0;
  }
}
