@import '~@ali/ide-core-browser/lib/style/variable.less';


.kt_filetree {
  overflow: hidden;
  font-size: @kt-ui-font-size1;
  position: relative;
}

.kt_filetree_container {
  height: 100%;
}

.kt_filetree_drag_image {
  position: absolute;
  top: -1000px;
  font-size: @kt-ui-font-size1;
  display: inline-block;
  padding: 1px @kt-ui-padding*2;
  border-radius: 10px;
  background: var(--list-dropBackground);
}

.empty_view {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  .empty_button {
    color: rgb(28, 29, 33);
    background-color: rgb(203, 205, 210);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(28, 29, 33);
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    outline-offset: 2px!important;
  }
}
