@import '~@ali/ide-core-browser/lib/style/variable.less';
@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

@font-face {
  font-family: "seti";
  src: url("/fonts/seti.woff") format("woff");
}

.KT_FileTree {
  background: @red-color;
}

.KT_FileTree_TreeContainer {
  height: 100%;
}