@import '~@ali/ide-core-browser/lib/style/variable.less';


.kt_filetree {
  background-color: @kt-layout-color1;
  overflow: hidden;
  color: @kt-ui-font-color1;
  font-size: @kt-ui-font-size1;
  position: relative;
}

.kt_filetree_container {
  height: 100%;
  & > .kt_treenode {
    & > div {
      & > div {
        &:first-child {
          text-transform: uppercase;
          font-size: 80%;
          font-weight: 500;
          .kt_filetree_treenode {
            background-color: @kt-layout-color4;
          }
        }
      }
    }
  }
}

.kt_filetree_drag_image {
  position: absolute;
  top: -1000px;
  font-size: @kt-ui-font-size1;
  display: inline-block;
  padding: 1px @kt-ui-padding*2;
  color: @kt-ui-font-color1;
  border-radius: 10px;
  background: @kt-accent-color1;
}
