.testing_icon_iconFailed {
  color: var(--testing-iconFailed);
}

.testing_icon_iconErrored {
  color: var(--testing-iconErrored);
}

.testing_icon_iconPassed {
  color: var(--testing-iconPassed);
}

.testing_icon_runAction {
  color: var(--testing-runAction);
}

.testing_icon_iconQueued {
  color: var(--testing-iconQueued);
}

.testing_icon_iconUnset {
  color: var(--testing-iconUnset);
}

.monaco-editor .testing-run-glyph {
  cursor: pointer;
}

.monaco-editor .testing-inline-message-content {
  cursor: pointer;
}
