.testing_icon_iconFailed {
  color: var(--testing-iconFailed) !important;
}

.testing_icon_iconErrored {
  color: var(--testing-iconErrored) !important;
}

.testing_icon_iconPassed {
  color: var(--testing-iconPassed) !important;
}

.testing_icon_runAction {
  color: var(--testing-runAction) !important;
}

.testing_icon_iconQueued {
  color: var(--testing-iconQueued) !important;
}

.testing_icon_iconUnset {
  color: var(--testing-iconUnset) !important;
}

.monaco-editor .testing-run-glyph {
  cursor: pointer;
}

.monaco-editor .testing-inline-message-content {
  cursor: pointer;
}
