node_modules

packages/process/scripts
tools/electron/scripts

**/tools/workspace/**
**/tools/extensions/**
**/tools/**/vendor/
**/tools/electron/app/dist/**
**/tools/playwright/src/tests/workspaces/**
**/tools/playwright/lib/**
**/tools/cli-engine/lib/**
tools/cli-engine/src/browser/worker-host.js
packages/monaco/worker/**

**/typings/**
packages/*/lib/**
packages/**/dist/**
packages/**/dist-node/**

packages/components/src/icon/iconfont
packages/core-browser/src/style/octicons

packages/extension/__mocks__/extension/browser-new.js
packages/extension/__mocks__/extension/browser.js
packages/extension/__mocks__/extension-error/browser.js

__mocks__
