{
  "jsxSingleQuote": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 200,
  "proseWrap": "never",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.json", ".eslintrc.js"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
