node_modules

**/tools/workspaces/**
**/tools/extensions/**
**/tools/**/vendor/
tools/cli-engine/src/browser/worker-host.js

**/typings/**
**/scripts/**
packages/*/lib/**
packages/*/dist/**

packages/components/src/icon/iconfont
packages/core-browser/src/style/octicons
