providers = ["..."]

[variables]
NODE_ENV = 'production'

[phases.setup]
nixPkgs = ["...", "libsecret"]
aptPkgs = ["...", "build-essential", "libsecret-1-dev"]

[phases.build]
cmds = ['yarn build:all', 'yarn bundle:prod', 'yarn download-extension']

[start]
cmd = 'node packages/startup/dist-node/server/server.js'
