.floating_click_widget {
  position: absolute;
  right: 50px;
  bottom: 30px;

  * + * {
    margin-left: 12px;
  }

  :global {
    .primary-button {
      border: none;
    }
  }

  .float_smart_button_icon {
    color: white;
    margin-right: 4px;
  }

  .float_smart_button {
    border-color: transparent;
    background-image: linear-gradient(to right, #00f6ff, #9c03ff);
  }
}
