.kt-tabs {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--kt-tab-borderDown);

  .kt-tab,
  .kt-custom-tab {
    padding: 8px 0 8px;
    line-height: 20px;
    border-bottom: 2px solid transparent;
    color: var(--kt-tab-inactiveForeground);
    cursor: pointer;

    &.kt-mini-tab {
      padding: 2px 0 2px;
    }

    &.kt-tab-selected {
      color: var(--kt-tab-activeForeground);
      border-bottom-color: var(--kt-tab-activeBorder);
    }
  }

  &.kt-tabs-mini {
    border-bottom: none;
  }

  .kt-tab + .kt-tab,
  .kt-custom-tab + .kt-custom-tab,
  .kt-tab + .kt-custom-tab,
  .kt-custom-tab + .kt-tab {
    margin-left: 24px;
  }
}
