.kt-tabs {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--kt-sideBarTitle-border);
  .kt-tab,
  .kt-custom-tab {
    padding: 8px 0 5px;
    line-height: 20px;
    border-bottom: 2px solid transparent;
    color: var(--sideBarTitle-foreground);
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }

    &.kt-tab-selected {
      font-weight: bold;
      border-bottom-color: var(--kt-sideBarTitle-activeBorder);
    }
  }

  .kt-tab + .kt-tab,
  .kt-custom-tab + .kt-custom-tab,
  .kt-tab + .kt-custom-tab,
  .kt-custom-tab + .kt-tab {
    margin-left: 16px;
  }
}
