.hint_line_widget {
  width: max-content;
  padding-left: 12px;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: flex;
  align-items: center;

  .text {
    color: var(--input-placeholderForeground) !important;
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }
}
