.file_tree {
  overflow: hidden;
  font-size: 14px;
  position: relative;
}


.file_tree_drag_image {
  position: absolute;
  top: -1000px;
  font-size: 12px;
  display: inline-block;
  padding: 1px 12px;
  border-radius: 10px;
  background: var(--sideBar-dropBackground);
}
