.ai_enhance_icon {
  border-radius: 6px;
  padding: 2px 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-wrap: nowrap;
  white-space: nowrap;
  box-sizing: border-box;

  span {
    color: var(--design-text-foreground);
  }
  &:hover {
    background-color: var(--badge-background);
    span {
      color: var(--badge-foreground);
    }
  }

  > span {
    &::before {
      font-size: 14px;
    }
  }
}

.ai_logo_avatar_container {
  .avatar_icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    font-size: 12px !important;
    background: url(./background-logo-icon.svg) center / 100% no-repeat;
    color: #fff;

    &::before {
      transform: scale(0.7);
    }
  }
}
