.loading_indicator {
  width: 20px;
  height: 20px;
  background-image: url('./media/loading.svg');
  background-size: cover;
}

.vs-dark .loading_indicator {
  background-image: url('./media/loading-dark.svg');
}

.hc-black .loading_indicator {
  background-image: url('./media/loading-hc.svg');
}
