@default_height: 24px;

.inline_chat_container_panel {
  background-color: var(--kt-modal-background);
  border-radius: 6px;
  box-shadow: 0px 9px 28px 8px var(--ai-native-boxShadow-color1), 0px 3px 6px -4px var(--ai-native-boxShadow-color2),
    0px 6px 16px 0px var(--ai-native-boxShadow-color3);
  font-size: 12px;

  span {
    color: var(--ai-native-text-color-normal);
    &:hover {
      color: var(--ai-native-text-color-common);
    }
  }
}
