.yRemoteSelection {
  background-color: rgba(255, 192, 203, 0.2);
}
.yRemoteSelectionHead {
  position: absolute;
  border-left: pink solid 2px;
  border-top: pink solid 2px;
  border-bottom: pink solid 2px;
  height: 100%;
  box-sizing: border-box;
}
.yRemoteSelectionHead::after {
  position: absolute;
  content: ' ';
  border: 3px solid pink;
  border-radius: 4px;
  left: -4px;
  top: -5px;
}
