@import '~@ali/ide-core-browser/lib/style/variable.less';

.activity-panel {
  height: 100%;
  background-color: var(--sideBar-background);
  border-right: 1px solid var(--sideBar-border);
}
.activity-panel > div{
  height: 100%;
}
.activity-panel > div > div{
  height: 100%;
}
.activity-panel > div > div > div {
  width: 100%!important;
  height: 100%!important;
}
.activity-panel > div > div > div > div {
  width: 100%!important;
}
.bottom-stack-panel {
  height: 100%!important;
}
.bottom-panel {
  background: var(--panel-background);
  height: 100%;
  .p-DockPanel-widget {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto!important;
    height: auto!important;
    overflow: visible;
    z-index: 1001;
  }
  .bottom-panel-titlebar {
    min-height: 0;
    width: 100%!important;
  }
}
.expansion-collapse {
  &:before {
    margin-right: 5px;
    font-size: @kt-content-font-size * 0.8;
    transform: rotate(90deg);
    display: block;
  }
  &.collapse{
    &:before {
      transform: rotate(0);
    }
  }
}
.side-container {
  min-width: 100%;
}
/*-----------------------------------------------------------------------------
| Sidepanel Toolbar
|----------------------------------------------------------------------------*/
.panel-titlebar {
  min-height: 33px;
}
.title-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.panel-titlebar .sidepanel-title {
  color: var(--sideBarTitle-foreground);
  font-weight: 500;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel-titlebar .p-TabBar-toolbar {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.panel-titlebar .p-TabBar-toolbar .item {
  color: var(--sideBarTitle-foreground);
  margin-left: 8px;
  opacity: 0.4;
  > div {
    width: 16px;
    background-repeat: no-repeat;
    // TODO 不一定存在的色值，背景色无法继承怎么处理？
    &.mask-mode {
      background-color: var(--foreground);
    }
  }
  &.enabled {
    opacity: 1;
    cursor: pointer;
  }
}

.p-TabBar-toolbar .item .big {
  transform: scale(1.2);
  transition: transform .2s;
}

.sidepanel-component {
  width: 100%;
}
.toolbar-container {
  position: absolute;
  z-index: 99;
  top: -27px;
  right: 0;
  height: 24px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  .p-TabBar-toolbar {
    overflow: visible;
  }
}

.views-container {
  overflow: hidden;
  height: 100%;
  >div {
    height: 100%;
  }
}

.views-container:focus {
  border: none;
  outline: none;
}
