@import '~@ali/ide-core-browser/lib/style/variable.less';

.activity-panel {
  height: 100%;
  background-color: var(--sideBar-background);
}
.activity-panel > div{
  height: 100%;
}
.activity-panel > div > div{
  height: 100%;
}
.activity-panel > div > div > div {
  width: 100%!important;
  height: 100%!important;
}
.activity-panel > div > div > div > div {
  width: 100%!important;
}
.bottom-stack-panel {
  height: 100%!important;
}
.bottom-panel {
  background: var(--panel-background);
  border-top: 1px solid var(--panel-border);
  height: 100%;
  .p-DockPanel-widget {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto!important;
    height: auto!important;
    overflow: visible;
    z-index: 1001;
  }
  .bottom-side-panel {
    min-height: 0;
  }
}
.expansion-collapse {
  &:before {
    margin-right: 5px;
    font-family: FontAwesome;
    font-size: @kt-content-font-size * 0.8;
    content: "\F0DA";
    transform: rotate(45deg);
    display: block;
  }
  &.collapse{
    &:before {
      transform: rotate(0);
    }
  }
}
.side-container {
  min-width: 100%;
}
/*-----------------------------------------------------------------------------
| Sidepanel Toolbar
|----------------------------------------------------------------------------*/

.sidepanel-toolbar {
  min-height: 35px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  align-items: center;
  background-color: var(--sideBar-background);
}

.sidepanel-toolbar .sidepanel-title {
  color: var(--sideBarTitle-foreground);
  flex: 1;
  font-weight: 400;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 35px;
}

.sidepanel-toolbar .p-TabBar-toolbar {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.p-TabBar-toolbar .item {
  color: var(--sideBarTitle-foreground);
  margin-left: 3px;
  opacity: 0.4;
  > div {
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    // TODO 不一定存在的色值，背景色无法继承怎么处理？
    &.mask-mode {
      background-color: var(--foreground);
    }
  }
  .big {
    transform: scale(1.2);
    transition: transform .2s;
  }
  &.enabled {
    opacity: 1;
    cursor: pointer;
  }
}

.sidepanel-component {
  width: 100%;
}
.toolbar-container {
  position: absolute;
  z-index: 99;
  top: -24px;
  right: 0;
  height: 24px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  .p-TabBar-toolbar {
    overflow: visible;
  }
}

// section style
.views-container-section-title .p-TabBar-toolbar {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  padding-right: 8px;
  .item {
    opacity: 0;
    cursor: pointer;
    >div {
      height: 16px;
      width: 16px;
      background-repeat: no-repeat;
      &.mask-mode {
        background-color: var(--foreground);
      }
    }

    & + .item {
      margin-left: 4px;
    }
  }
}
.views-container-section:hover {
  .item {
    opacity: 1;
  }
}
