
.wrapper :global(.ant-modal-body){
  background: var(--activityBar-background);
  border-color: var(--activityBar-border);
}

.wrapper,
.wrapper :global(.ant-modal-close) {
  color: var(--foreground);
}

.buttonWrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: flex-end;
}

.button {
  margin: 0 0 10px 10px;
}

.message {
  margin-left: 20px;
}
