.wrapper {
  background: var(--activityBar-background);
  border-color: var(--activityBar-border);
  word-break: break-word;
}

.wrapper :global(.ant-notification-notice-close),
.wrapper :global(.ant-notification-notice-message) {
  color: var(--foreground);
}

.button {
  margin: 0 0 10px 10px;
}
