.message_origin {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.origin {
  position: absolute;
  margin-left: -20px;
  font-size: 12px;
  bottom: 12px;
  color: var(--kt-menu-descriptionForeground);
}
