:global(.ant-message .ant-message-notice-content) {
  background: var(--notifications-background);
  color: var(--notifications-foreground);
}

:global(.ant-message .ant-message-loading .anticon),
:global(.ant-message .ant-message-info .anticon) {
  color: var(--notificationsInfoIcon-foreground);
}

:global(.ant-message .ant-message-error .anticon) {
  color: var(--notificationsErrorIcon-foreground);
}

:global(.ant-message .ant-message-warning .anticon) {
  color: var(--notificationsWarningIcon-foreground);
}
