
.kaitian-breakpoint-icon-size {
  background-size: 16px 16px;
}
// 全局调试样式
// TODO: 收敛静态资源和样式到调试模块中
.kaitian-debug-breakpoint {
  background: url('./assets/breakpoint.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.kaitian-debug-breakpoint-disabled {
  background: url('./assets/breakpoint-disabled.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.kaitian-debug-breakpoint-unverified {
  background: url('./assets/breakpoint-unverified.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.kaitian-debug-breakpoint-unsupported {
  background: url('./assets/breakpoint-unsupported.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.kaitian-debug-conditional-breakpoint {
  background: url('./assets/breakpoint-conditional.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.kaitian-debug-conditional-breakpoint-disabled {
  background: url('./assets/breakpoint-conditional-disabled.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.kaitian-debug-conditional-breakpoint-unverified {
  background: url('./assets/breakpoint-conditional-unverified.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.kaitian-debug-logpoint {
	background: url('./assets/breakpoint-log.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.kaitian-debug-logpoint-disabled {
  background: url('./assets/breakpoint-log-disabled.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.kaitian-debug-logpoint-unverified {
  background: url('./assets/breakpoint-log-unverified.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.monaco-editor .kaitian-debug-breakpoint-hint {
  background: url('./assets/breakpoint-hint.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.monaco-editor .kaitian-debug-top-stack-frame {
	background: url('./assets/current-arrow.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.monaco-editor .kaitian-debug-top-stack-frame.kaitian-debug-breakpoint {
	background: url('./assets/current-and-breakpoint.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.monaco-editor .view-overlays .kaitian-debug-top-stack-frame-line {
  background: #ffff6673;
}

.monaco-editor.vs-dark .view-overlays .kaitian-debug-top-stack-frame-line {
  background: #ffff0033;
}

.monaco-editor .kaitian-debug-focused-stack-frame {
	background: url('./assets/stackframe-arrow.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.monaco-editor .kaitian-debug-focused-stack-frame.kaitian-debug-breakpoint {
	background: url('./assets/stackframe-and-breakpoint.svg') center center no-repeat;
  .kaitian-breakpoint-icon-size;
}

.monaco-editor .view-overlays .kaitian-debug-focused-stack-frame-line {
  background: #cee7ce73;
}

.monaco-editor.vs-dark .view-overlays .kaitian-debug-focused-stack-frame-line {
  background: #7abd7a4d;
}

.monaco-editor.vs-dark .view-overlays .kaitian-debug-top-stack-frame-exception-line {
  background-color: #6C2022;
}

.inline-breakpoint-widget.codicon {
	display: flex !important;
	align-items: center;
}

.inline-breakpoint-widget.codicon-debug-breakpoint-disabled {
	opacity: 0.7;
}

.monaco-editor .inline-breakpoint-widget.line-start {
	left: -8px !important;
}

.monaco-editor .inline-breakpoint-widget {
	cursor: pointer;
}

.monaco-editor .debug-breakpoint-placeholder::before {
	content: ' ';
	width: 0.9em;
	display: inline-flex;
	vertical-align: middle;
	margin-top: -1px; /* TODO @misolori: figure out a way to not use negative margin for alignment */
}
