.checkbox-wrap {
  display: inline-block;
  user-select: none;

  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }

  [type="checkbox"]:not(:checked)+label,
  [type="checkbox"]:checked+label {
    position: relative;
    padding-left: 20px;
    line-height: 1;
    cursor: pointer;
    font-size: 12px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
  }

  [type="checkbox"]:not(:checked)+label::before,
  [type="checkbox"]:checked+label::before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 14px;
    height: 14px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    border-color: var(--checkbox-border);
    border-radius: 2px;
    background-color: var(--checkbox-background);
    transition: all .2s;
  }

  [type="checkbox"]:not(:checked)+label:hover::before,
  [type="checkbox"]:not(:checked)+label:hover::after {
    border-style: solid;
    border-width: 1px;
    border-color: var(--kt-checkbox-hoverBorder);
    background-color: var(--kt-checkbox-hoverBackground);
  }

  [type="checkbox"]:not(:checked)+label::after,
  [type="checkbox"]:checked+label::after {
    content: '\2713\0020';
    position: absolute;
    top: -1px;
    left: 0;
    width: 14px;
    height: 14px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    border-color: var(--kt-checkbox-selectionBackground);
    border-radius: 2px;
    color: var(--kt-checkbox-selectionForeground);
    background-color: var(--kt-checkbox-selectionBackground);
  }

  [type="checkbox"]:not(:checked)+label::after {
    opacity: 0;
    transform: scale(0);
  }

  [type="checkbox"]:checked+label::after {
    opacity: 1;
    transform: scale(1);
  }

  [type="checkbox"]:disabled:not(:checked)+label::before,
  [type="checkbox"]:disabled:checked+label::before,
  [type="checkbox"]:disabled:not(:checked)+label::after,
  [type="checkbox"]:disabled:checked+label::after {
    box-shadow: none;
    border: none;
    text-align: center;
    background-color: var(--kt-checkbox-disableBackground);
  }

  [type="checkbox"]:disabled:checked+label::after {
    color: var(--kt-checkbox-disableForeground);
  }

  [type="checkbox"]:disabled+label {
    color: var(--kt-checkbox-disableForeground);
  }
}

.large-checkbox-wrap {
  [type="checkbox"]:not(:checked)+label,
  [type="checkbox"]:checked+label {
    height: 16px;
    vertical-align: middle;
  }

  [type="checkbox"]:not(:checked)+label::before,
  [type="checkbox"]:checked+label::before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 16px;
    height: 16px;
  }

  [type="checkbox"]:not(:checked)+label,
  [type="checkbox"]:checked+label {
    font-size: 14px;
  }

  [type="checkbox"]:not(:checked)+label::after,
  [type="checkbox"]:checked+label::after {
    content: '\2713\0020';
    position: absolute;
    top: -1px;
    left: 0;
    width: 16px;
    height: 16px;
  }
}
