:root {
  --background-m1: #FFFFFF; /* primary bg */
  --background-m2: #F8F8F8; /* filetree, sim, statusbar, tabs-bg, startup-bg */
  --background-m3: #EAEBED; /* sidebar, top-toolbar */
  --background-m4: #FFFFFF; /* input-bg */
  --background-m5: #F1F2F3; /* modal message popover select tooltip avatar */
  --background-m6: #E5E7EA; /* btn-default */
  --background-m7: #DADCDF; /* btn-default-hover scrollbar */
  --background-m8: #CDD0D6; /* btn-default-active dropdown/select-active input-addon modal-header */
  --background-m10: #F3F3F6;
  --primary-b1: #2D88F8;
  --primary-b2: #3FA9FF;
  --primary-b3: #0A6DD9;
  --split-b1: #D8D9DD;
  --split-b2: rgba(0, 0, 0, .15);
  --split-b3: rgba(0, 0, 0, .09);
  --highlight-color1: #000;
  --disabled-color: rgba(0, 0, 0, .25);
  --text-color: rgba(0 , 0, 0, .8);
  --text-color-secondary : rgba(0, 0, 0, .65);
  --head-color: rgba(0, 0, 0, .9);
  --mask-b1: rgba(255, 255, 255, .95);
  --base-font-size: 13px;
  --success-color: #52C41A;
  --info-color: #1890FF;
  --warn-color: #FAAD14;
  --error-color: #F5222D;
  --head-icon-color: #9DA0A3;
}