:root {
  --background-m1: var(--background); /* primary bg */
  --background-m2: var(--sideBar-background); /* filetree, sim, statusbar, tabs-bg, startup-bg */
  --background-m3: var(--activityBar-background); /* sidebar, top-toolbar */
  --background-m4: var(--menubar-selectionBackground); /* input-bg */
  --background-m5: var(--sideBar-background);  /* modal message popover select tooltip avatar */
  --background-m6: #454557; /* btn-default */
  --background-m7: #3B3B47; /* btn-default-hover scrollbar */
  --background-m8: var(--input-background); /* btn-default-active dropdown/select-active input-addon modal-header */
  --background-m9: #484854; /* special-disable */
  --background-m10: #444457;
  --primary-b1: var(--button-background);;
  --primary-b2: var(--button-background);
  --primary-b3: var(--button-background);
  --split-b1: #1D1D26;
  --split-b2: rgba(255, 255, 255, .15);
  --split-b3: rgba(255, 255, 255, .09);
  --highlight-color1: var(--tab-activeForeground);;
  --disabled-color: var(--list-invalidItemForeground);
  --text-color: var(--foreground);
  --text-color-secondary : var(--foreground-secondary);
  --head-color: var(--menubar-selectionForeground);
  --mask-b1: rgba(122, 95, 95, 0.95);
  --base-font-size: 13px;
  --success-color: var(--inputValidation-infoForeground);
  --info-color: var(--inputValidation-infoForeground);
  --warn-color: var(--inputValidation-warningBackground);
  --error-color: var(--errorForeground);
}