@import '~@ali/ide-core-browser/lib/style/variable.less';

.kt_treenode {
  height: 22px;
  line-height: 22px;
  display: flex;
  cursor: pointer;
  &:hover {
    background: @kt-layout-color3;
  }
  &.kt_mod_selected {
    background: @kt-layout-color3;
  }
  &.kt_mod_focused {
    background: @kt-accent-color3;
  }
}


.kt_treenode_content {
  display: flex;
  align-items: center;
  width: 100%;
}

.kt_treenode_segment {
  flex-grow: 0;
  user-select: none;
  white-space: nowrap;
}

.kt_treenode_segment_grow {
  height: 100%;
  flex-grow: 1 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kt_expansion_toggle {
  padding-right: @kt-ui-padding;
  min-width: 10px;
  display: flex;
  justify-content: center;
  &.kt_mod_collapsed{
    &:before {
      font-family: FontAwesome;
      font-size: @kt-content-font-size * 0.8;
      content: "\F0DA";
    }
  }
  &:not(.kt_mod_collapsed){
    &:before {
      font-family: FontAwesome;
      font-size: @kt-content-font-size * 0.8;
      content: "\F0DA";
      transform: rotate(45deg);
    }
  }
}

.kt_file_icon {
  line-height: 0.8em;
  &:before {
    font-size: calc(@kt-content-font-size * 0.8);
    text-align: center;
    margin-right: 4px;
  }
}

.kt_file_icon:global(&.fileIcon:before){
  font-size: 18px;
}

.kt_treenode_symbolic_link {
  .kt_file_icon, .kt_treenode_tail, .kt_treenode_segment_grow {
    opacity: .75;
  }
  
  .kt_treenode_tail {
    &::after {
      content: "⤷";
      color: rgb(140, 140, 140);
      font-size: 90%;
      font-weight: 600;
      padding: 0 12px 0 5px;
      margin-left: auto;
      text-align: center;
     }
  }
}

.kt_treenode_tail {
  min-width: 1rem;
  text-align: center;
}

.kt_input_wrapper {
  height: 100%;
  width: 100%;
  line-height: normal;
  background-color: rgb(60, 60, 60);
  color: rgb(204, 204, 204);
}

.kt_input_box {
  height: 100%;
  width: 100%;
  border: 0;
  background-color: rgb(60, 60, 60);
  color: rgb(204, 204, 204);
  padding: 0;
  outline-color: rgba(14, 99, 156, 0.8);
}