@import '../../style/variable.less';

.kt_treenode_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.kt_treenode {
  height: 22px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  &.alwaysShowActions,
  &:hover {
    color: var(--list-hoverForeground);
    background: var(--list-hoverBackground);
    .left_actions, .right_actions, .container_actions {
      display: block;
      z-index: 10;
      background: var(--list-hoverBackground);
    }
  }
  .kt_treenode_title {
    width: 100%;
  }
  &.kt_mod_selected {
    color: var(--list-activeSelectionForeground);
    background: var(--list-activeSelectionBackground);
    .left_actions, .right_actions, .container_actions {
      background: var(--list-activeSelectionBackground);
    }
  }
  &.kt_mod_focused {
    color: var(--list-focusForeground);
    background: var(--list-focusBackground);
    .left_actions, .right_actions, .container_actions {
      background: var(--list-focusBackground);
    }
  }
  &.kt_mod_invalid {
    color: var(--list-invalidItemForeground)
  }
}

.kt_treenode_content {
  display: flex;
  align-items: center;
  width: 100%;
  .kt_search_match {
    background-color: var(--editor-findMatchHighlightBackground);
    &.replace {
      // border: 1px solid var(--diffEditor-removedTextBorder);
      background-color: var(--editor-findMatchHighlightBackground);
      text-decoration: line-through;
    }
  }
  .kt_search_replace {
    background-color: var(--diffEditor-insertedTextBackground);
    // border: 1px solid var(--diffEditor-insertedTextBackground);
  }
}

.kt_treenode_head {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
}

.kt_treenode_status {
  opacity: .75;
  min-width: 20px;
  text-align: center;
  font-size: 12px;
  padding-right: 0;
}

.kt_treenode_segment {
  flex-grow: 0;
  white-space: nowrap;
}

.kt_treenode_displayname {
  margin-right: 3px;
}

.kt_treenode_description {
  transform: scale(.95);
  opacity: .7;
}

.kt_treenode_segment_grow {
  flex-grow: 1 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  z-index: 10;
  &.overflow_visible {
    overflow: visible !important;
  }
}

.kt_expansion_toggle {
  padding-right: @kt-ui-padding;
  min-width: 10px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  color: var(--foreground);
  &.kt_mod_collapsed{
    &:before {
      display: block;
      font-size: @kt-content-font-size * 0.8;
    }
  }
  &:not(.kt_mod_collapsed){
    &:before {
      display: block;
      transform: rotate(90deg);
      font-size: @kt-content-font-size * 0.8;
    }
  }
}

.kt_file_icon {
  position: relative;
  line-height: 0.8em;
  &:before {
    font-size: calc(@kt-content-font-size * 0.8);
    text-align: center;
    margin-right: 4px;
  }
  .left_actions {
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    height: 21px;
    span {
      color: var(--foreground);
      font-size: 12px;
    }

  }
}

.kt_file_icon:global(&.fileIcon:before){
  font-size: 18px;
}

.kt_treenode_tail {
  text-align: center;
  margin-right: 10px;
  position: relative;
  height: 22px;
  .right_actions, .container_actions {
    display: none;
    line-height: 22px;
    height: 22px;
    padding-left: 4px;
    position: absolute;
    top: 0;
    right: calc(100% + 5px);
    z-index: 10;
  }
}

.kt_input_wrapper {
  height: 100%;
  width: 100%;
  line-height: normal;
  background-color: rgb(60, 60, 60);
  color: rgb(204, 204, 204);
  position: relative;
}

.kt_input_box {
  height: 100%;
  width: 100%;
  border: 0;
  background-color: rgb(60, 60, 60);
  color: rgb(204, 204, 204);
  padding: 0;
  outline: 0;
  &:focus {
    border: 1px solid rgba(14, 99, 156, 0.8);
  }
  &.error {
    border: 1px solid rgb(235, 61, 84);
  }
}


.kt_treenode_container_focused {
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    content: "";
    pointer-events: none;
    outline: 1px solid;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
    outline-color: rgba(14, 99, 156, 0.8);
  }
}

.kt_treenode_all_focused {
  color: var(--list-focusForeground);
  background: var(--list-focusBackground);
}

.kt_validate_message {
  display: inline-block;
  overflow: hidden;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  padding: .4em;
  font-size: 12px;
  line-height: 17px;
  min-height: 34px;
  word-wrap: break-word;
  white-space:normal;
  position: absolute;
  width: 100%;
  left: 0;
  top: 22px;
  z-index: 10;
  &.error {
    background-color: rgb(235, 61, 84);
    border: 1px solid rgb(235, 61, 84);
  }
}
