@default_height: 24px;

.ai_action {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  background-color: var(--kt-modal-background);
  border-radius: 6px;
  box-shadow: 0px 9px 28px 8px var(--design-boxShadow-primary), 0px 3px 6px -4px var(--design-boxShadow-secondary),
    0px 6px 16px 0px var(--design-boxShadow-tertiary);
  font-size: 12px;

  .loading_icon {
    margin: 0 -4px;
    height: @default_height;
    line-height: @default_height !important;
  }

  .stable_container {
    display: flex;
    align-items: center;
  }

  .close_container {
    display: none;
    align-items: center;
  }

  .ai_action_icon {
    &:hover {
      background: var(--design-block-hoverBackground);
    }
  }

  span {
    color: var(--design-text-foreground);
  }

  .logo-container {
    .avatar {
      width: 14px;
      height: 14px;
      background-image: radial-gradient(circle at 21% 21%, #00f6ff 0%, #9c03ff 95%);
      border-radius: 12px;

      img {
        height: 10px;
      }
    }
  }

  .operate_container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .operate_container {
    .operate_btn {
      padding: 3px 4px;
      border-radius: 4px;
    }
    .operate_item {
      height: 24px;
      line-height: 24px;
      padding: 0 6px;
      border-radius: 4px;
    }
  }

  &:hover {
    .close_container {
      display: flex;
    }
  }

  .custom_operation_wrapper {
    padding: 4px;
    box-sizing: content-box;
  }
}

.more-operation-menu-item {
  min-width: initial !important;
}
