// 进度条
.thinking_container {
  position: relative;

  .stop {
    position: absolute;
    bottom: -33px;
    width: 100%;
    padding-top: 12px;
    // TODO
    left: -10px;
    width: 105%;
    .block {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.65);
      cursor: pointer;
      margin-left: 10px;
      span {
        color: #949da6;
      }

      :first-child {
        margin-right: 4px;
      }
    }
  }
  .bottom_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: -39px;
    width: 100%;

    .reset {
      flex: 1 1 auto;
      align-items: center;
      display: flex;
      justify-content: left;
      cursor: pointer;
      .transform {
        transform: rotate(90deg);
        margin-right: 6px;
      }
    }
    .thumbs {
      display: flex;
      flex: 0 0 auto;
    }
  }
}

.chat_input_container {
  background-color: #272d32;
  position: relative;
  border-radius: 8px;
  border: 1px solid #ffffff40;
  .theme_container {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    .theme_block {
      background-color: #34414b;
      color: #40a6ff;
      border-radius: 6px;
      padding: 2px 8px;
      z-index: 1;
    }
    .theme_content {
      color: rgba(255, 255, 255, 0.68);
      margin-left: 8px;
    }
  }
  .expand_icon {
    position: absolute;
    right: 6px;
    top: 8px;
    z-index: 1;
    width: 22px;
    height: 22px;
    border-radius: 6px;
    .kt-popover {
      height: 100%;
    }
    &:hover {
      background-color: var(--kt-hintBackground) !important;
    }
  }
  .block {
    // background-color: rgba(255, 255, 255, 0.08);
    border-radius: 6px;
    width: fit-content;
    height: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .name {
      margin: 0 8px;
    }
    .text {
      color: #ffffff78;
    }
  }

  .instruction_options_container {
    position: absolute;
    width: calc(100% - 32px);
    background-color: #171c25;
    border: 1px solid #363940;
    bottom: 61px;
    z-index: 1000;
    background-color: #171c25;
    border-radius: 8px;
    box-shadow: 0 0 28px 8px rgba(0, 0, 0, 0.15), 0 0 16px 0 rgba(0, 0, 0, 0.24), 0 0 6px -4px rgba(0, 0, 0, 0.36);

    .options {
      ul {
        margin: 0;
        padding: 8px 0;

        li {
          display: flex;
          align-items: center;
          padding: 5px 0;
          font-size: 14px;
          cursor: pointer;
          margin: 0 8px;
          border-radius: 8px;
          &:hover {
            background-color: rgba(255, 255, 255, 0.08);
          }

          .block {
            margin: 0 8px;
            font-size: 12px;
            .ai_enhance_icon {
              background-color: var(--kt-icon-hoverBackground);
            }
          }
        }
      }
    }

    .commonly_used {
      border-top: 1px solid #363940;
      padding: 12px 16px;
      display: flex;
      align-items: center;
    }
  }

  .input_wrapper {
    border-radius: 8px;
    padding: 8px 4px 8px 12px;
    font-size: 14px;
    position: relative;
    background-color: #272d32;
    border: none;
    :global {
      .kt-input-addon-after {
        align-items: flex-end;
      }

      .kt-input-addon-before {
        margin-right: 0;
      }
    }

    textarea {
      resize: none;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
      }
    }

    .slash_widget_block {
      position: absolute;
      background-color: #34414b;
      color: #40a6ff;
      border-radius: 3px;
      padding: 1px 2px;
      z-index: 1;
      top: 9.5px;
    }

    .send_chat_btn {
      border-radius: 2px;
      width: 24px;
      height: 22px;
      display: flex;
      align-items: end;
      justify-content: center;
      cursor: pointer;
      border-radius: 6px;
      span {
        color: rgba(95, 101, 107, 1);
      }
      &.active {
        span {
          color: #3c8dff;
        }
      }

      &:hover {
        background-color: var(--kt-hintBackground) !important;

        span {
          color: rgba(60, 141, 255, 1);
        }
      }

      &.disabled {
        background-color: transparent !important;
        cursor: not-allowed;
        span {
          color: var(--kt-defaultButton-disableForeground);
          pointer-events: none;
        }
      }
      .send_icon {
        color: #315c99;
      }
    }
  }
}

// chat 面板的代码展示部分
.ai_chat_code_wrapper {
  position: relative;
  width: 100%;

  .render_text {
    white-space: pre-wrap;

    span.code_inline {
      display: inline;
      color: #d7ba7d;

      &::after {
        content: none;
      }
    }

    .code_block {
      position: relative;
      min-width: 100px;
      .monaco_wrapper {
        position: relative;

        code {
          padding-top: 20px;
        }

        code {
          padding-top: 20px;
        }

        .editor {
          border-radius: 8px;
          border: 1px solid #ffffff1a;
          // overflow: hidden;
        }

        .action_toolbar {
          display: flex;
          position: absolute;
          right: 0;
          top: 1px;
          background-color: #151b21;
          border-radius: 6px 6px 0 6px;
          z-index: 100;
          height: 22px;
          align-items: center;
          overflow: hidden;

          :global {
            .kt-popover {
              height: inherit;
            }
          }

          span {
            width: 22px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            &:hover {
              color: #3b89fa;
            }
          }
        }
      }
      :global {
        .hljs {
          background-color: #151b21;
        }
      }
      .code_language {
        position: absolute;
        top: 1px;
        left: 1px;
        z-index: 1;
        height: 22px;
        padding: 3px 8px;
        opacity: 0.6;
        background-color: #020203;
        border-radius: 8px 0 8px 0;
      }
    }
    .tag {
      color: #669ced;
      border-radius: 6px;
      padding: 2px 8px;
      background-color: #243753;
      display: inline-block;
      margin: 4px;
    }
  }
}

.ai_chat_more_actions_container {
  position: relative;

  .chat_msg_more_actions {
    position: absolute;
    z-index: 1000;
    bottom: -36px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 16px;
    padding: 0 4px;
    display: none;

    &::after {
      content: initial !important;
    }

    .side {
      display: flex;
      align-items: center;
      justify-items: right;
      height: inherit;

      .ai_enhance_icon {
        cursor: pointer;
      }
    }
  }
}

.ai_native_input_container {
  height: 32px;
}

/**
* icon
*/
.ai_enhance_icon {
  border-radius: 6px;
  padding: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-wrap: nowrap;
  font-size: 12px;

  &:hover {
    background-color: var(--kt-icon-hoverBackground);
  }
}

/**
* loading
*/
.loading_indicator {
  background: linear-gradient(to right, #9c03ff, #00f6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ai_logo_avatar_container {
  .avatar_icon {
    display: flex !important;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    font-size: 12px !important;
    background: url(https://mdn.alipayobjects.com/huamei_5nm5zc/afts/img/A*6ZoQRIRuFkcAAAAAAAAAAAAADlrAAQ/original)
      center / 100% no-repeat;
    &::before {
      transform: scale(0.7);
    }
  }
}
