.menu_bar_view {
  display: flex;
  background-color: var(--kt-menubar-background);
  height: var(--tabBar-height);
  align-items: center;
}
.menu_bar_view .menu_bar_logo {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url(logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 10px;
}
