.menu_bar_view {
  display: flex;
  background-color: var(--kt-menubar-background);
  align-items: center;

  .menu_bar_logo {
    display: inline-block;
    height: 18px;
    width: 18px;
    background-image: url(./logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 14px;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}
