.toc {
  :global {
    .libro-toc-collapsed {
      svg {
        vertical-align: sub;
      }
    }

    .markdown-toc-container {
      width: 100%;

      .markdown-toc-container-anchor {
        color: var(--toc-panel-text-color);
        font-size: 12px;
        line-height: 20px;
      }

      .markdown-toc-container-title {
        display: none;
      }
    }
  }
}
