@import '~@ali/ide-core-browser/lib/style/variable.less';

.bottom-panel {
  background: black;
  height: 100%;
  .p-TabBar-content {
    border: none;
  }
  & > div {
    height: 100%;
    & > div {
      height: 100%;
    }
  }
  .p-TabBar-tab {
    background: transparent;
    border: none;
    flex: 0 1 55px;
    .p-TabBar-tabLabel {
      text-align: center;
      color: @kt-ui-font-color2;
    }
  }
  .p-TabBar-tab:hover:not(.p-mod-current) {
    background: transparent;
  }
  .p-TabBar-tab.p-mod-current .p-TabBar-tabLabel {
    color: white;
  }
  .p-TabBar-tab.p-mod-current .p-TabBar-tabLabel:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    background-color: @kt-ui-font-color2;
    width: 60%;
    height: 2px;
  }
  .p-DockPanel-widget {
    position: absolute;
    left: 0;
    right: 0;
    top: 24px;
    bottom: 0;
    width: auto!important;
    height: auto!important;
  }
}