@import '../style/mixins.less';

.arrow(@position) {
  & when (@position = 'top'), (@position = 'bottom') {
    &::after {
      position: absolute;
      left: 50%;
      margin-left: -7px;
      content: '';
      width: 0;
      height: 0;
      border: 7px solid transparent;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 15px;
      border-style: solid;
      background: transparent;
      border: 0;
    }
  }
  & when (@position = 'top') {
    &::after {
      top: 100%;
      border-bottom-width: 0;
      border-top-color: var(--kt-popover-background);
    }
    &::before {
      top: 100%;
    }
  }
  & when (@position = 'bottom') {
    &::after {
      bottom: 100%;
      border-top-width: 0;
      border-bottom-color: var(--kt-popover-background);
    }
    &::before {
      bottom: 100%;
    }
  }

  & when (@position = 'left'), (@position = 'right') {
    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-7px);
      content: '';
      width: 0;
      height: 0;
      border: 7px solid transparent;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 15px;
      height: 100%;
      border-style: solid;
      background: transparent;
      border: 0;
    }
  }
  & when (@position = 'left') {
    &::after {
      left: 100%;
      border-right-width: 0;
      border-left-color: var(--kt-popover-background);
    }
    &::before {
      left: 100%;
    }
  }
  & when (@position = 'right') {
    &::after {
      right: 100%;
      border-left-width: 0;
      border-right-color: var(--kt-popover-background);
    }
    &::before {
      right: 100%;
    }
  }
}

.kt-popover {
  position: relative;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &-content {
    display: none;
  }

  &-title {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;

    &.kt-button,
    .small-button-size {
      padding: 0px;
    }
  }

  &-content {
    position: absolute;
    color: var(--kt-popover-foreground);
    background: var(--kt-popover-background);
    border-color: var(--kt-popover-border);
    border-radius: 2px;
    .overlay-shadow();
    padding: 5px 10px;
    z-index: 10001;
    padding: 16px;
  }

  &-top {
    .arrow('top');
  }
  &-bottom {
    .arrow('bottom');
  }
  &-left {
    .arrow('left');
  }
  &-right {
    .arrow('right');
  }
}
