@import '~@ali/ide-core-browser/lib/style/variable.less';

.terminal_wrapper {
  width: 100%;
  height: 100%;
  padding: 1px 10px;
}

.terminal_container {
  position: relative;
  width: 100%;
  height: 100%;
  & > div {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.terminal_toolbar {
  select {
    line-height: @kt-content-line-height;
    font-size: @kt-content-font-size;
    height: @kt-content-line-height;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--dropdown-border);
    padding: 0 5px;
    box-sizing: border-box;
    background-color: var(--dropdown-background);
    color: var(--dropdown-foreground);
    & > option {
      background-color: var(--dropdown-listBackground)
    }
  }
}
