.recycle_tree {

  // 设置滚动条样式
  &:hover {

    .scrollbar_thumb_vertical,
    .scrollbar_thumb_horizontal {
      opacity: 1;
    }
  }
}

.scrollbar_thumb_vertical,
.scrollbar_thumb_horizontal {
  opacity: 0;
  transition: opacity .5s ease;
  background: var(--scrollbarSlider-background);
  width: var(--kt-scrollbar-width);

  &:hover {
    background: var(--scrollbarSlider-hoverBackground);
  }

  &:active {
    background: var(--scrollbarSlider-activeBackground);
  }
}

.scrollbar_decoration {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  box-shadow: var(--scrollbar-shadow)0 6px 6px -6px inset;
}
