.recycle_tree {
  // 设置滚动条样式
  &::-webkit-scrollbar {
    display: block;
    background: transparent;
  }
  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
