.icon {
  margin-right: 4px;
}

.icon,
.submenuIcon {
  width: 16px;
  padding: 4px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut {
  padding: 4px 0px;
  justify-content: right;
  flex-grow: 1;
  text-align: center;
}
