.icon {
  margin-right: 4px;
}

.icon,
.submenuIcon {
  width: 16px;
  padding: 4px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  flex: 1;
  margin-right: 5px;
}

.shortcut {
  padding: 4px 0px;
  justify-content: right;
  text-align: center;
}

.titleActions {
  display: flex;
  align-items: center;
}

.iconAction + .iconAction {
  margin-left: 4px;
}
