@default_height: 24px;

.ai_inline_chat_controller_panel {
  background-color: #2b333d;
  border-radius: 6px;
  box-shadow: 0px 8px 20px 6px rgba(0, 0, 0, 0.2), 0px 3px 6px -4px rgba(0, 0, 0, 0.4),
    0px 6px 16px 0px rgba(0, 0, 0, 0.24);
  font-size: 12px;

  .ai_inline_chat_loading {
    width: @default_height;
    height: @default_height;
    line-height: @default_height;
  }

  span {
    color: var(--ai-native-text-color-normal);
    &:hover {
      color: var(--ai-native-text-color-common);
    }
  }
}

.ai_inline_operation_panel {
  display: flex;
  align-items: center;
  height: @default_height;
  padding: 1px 8px;

  .logo_container {
    .avatar_icon {
      width: 14px;
      height: 14px;
      background-image: radial-gradient(circle at 21% 21%, #00f6ff 0%, #9c03ff 95%);
      border-radius: 12px;

      img {
        height: 10px;
      }
    }
  }

  .operate_container,
  .close_container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .operate_container {
    .operate_item {
      height: 22px;
      line-height: 22px;
      padding: 0 4px;
      border-radius: 4px;
    }

    .close_container {
      display: none;
    }
  }

  &:hover {
    .operate_container {
      .close_container {
        display: flex;
      }
    }
  }
}

.ai_inline_result_panel {
  display: flex;
  align-items: center;
  height: @default_height;
  padding: 1px 8px;
  justify-content: space-between;

  .side {
    display: flex;
    align-items: center;
    .operate_btn {
      height: 22px;
      line-height: 22px;
      padding: 0 6px;
    }
    .operate_icon {
      width: 22px;
      height: 22px;
      line-height: 22px;
      border-radius: 4px;
    }
  }
}

.more_operation_menu_item {
  min-width: initial !important;
}

.ai_inline_error_result_panel {
  padding: 8px;
}
