.merge-editor-container {
  height: 100%;
  overflow: hidden;

  .currentEditorContainer,
  .resultEditorContainer,
  .incomingEditorContainer {
    height: inherit;
    width: 100%;
  }

  .merge-editor-guide-underline-widget {
    &.insert {
      border-top: 2px solid var(--mergeEditor-insertedBackground);
    }
    &.modify {
      border-top: 2px solid var(--mergeEditor-modifyBackground);
    }
    &.remove {
      border-top: 2px solid var(--mergeEditor-removedBackground);
    }
  }

  .merge-editor-marginClassName,
  .merge-editor-diff-inner-char-background,
  .merge-editor-diff-line-background {
    &.insert {
      background-color: var(--mergeEditor-insertedBackground);
    }
    &.modify {
      background-color: var(--mergeEditor-modifyBackground);
    }
    &.remove {
      background-color: var(--mergeEditor-removedBackground);
    }
  }

  .merge-editor-diff-inner-char-background {
    &.insert {
      background-color: var(--mergeEditor-insertedInnerCharColor);
    }
    &.modify {
      background-color: var(--mergeEditor-modifyInnerCharColor);
    }
    &.remove {
      background-color: var(--mergeEditor-removedInnerCharColor);
    }
  }

  .editor-container-arrange {
    height: 100%;
    display: flex;
    .stickiness-connect-container {
      height: 100%;
      position: relative;
      .piece-view-lines {
        position: absolute;
        z-index: 1;
        & svg {
          width: 100%;
          overflow: initial;
          & path {
            &.insert {
              fill: var(--mergeEditor-insertedBackground);
            }
            &.modify {
              fill: var(--mergeEditor-modifyBackground);
            }
            &.remove {
              fill: var(--mergeEditor-removedBackground);
            }
          }
        }
      }
    }
  }
}
