:global {
  div[class*=box-panel___] {
    background-image: url('https://mdn.alipayobjects.com/huamei_htww6h/afts/img/A*hLI-SqEx-YkAAAAAAAAAAAAADhl8AQ/original');
    background-repeat: no-repeat;
    background-size: cover;
  }
}