div[class*='box-panel___'] {
  background-image: url('https://mdn.alipayobjects.com/huamei_htww6h/afts/img/A*hLI-SqEx-YkAAAAAAAAAAAAADhl8AQ/original');
  background-repeat: no-repeat;
  background-size: cover;
}

#opensumi-left-tabbar {
  span[class*='tab_badge___'] {
    top: 0;
    right: -8px;
    font-size: 10px;
    min-width: 16px;
    padding: 0 2px;
    height: 14px;
    line-height: 14px;
    letter-spacing: -0.5px;
  }
}

#opensumi-statusbar {
  opacity: 0.35;
}

/**
* 覆盖菜单样式
*/
.kt-menu.kt-inner-menu-submenu {
  background-color: transparent !important;

  ul.kt-inner-menu-sub {
    backdrop-filter: saturate(150%) blur(20px) !important;
    -webkit-backdrop-filter: saturate(150%) blur(20px) !important;
    background-color: rgba(34, 40, 48, 0.85) !important;
    border: 0 none !important;
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.2), 0px 3px 6px -4px rgba(0, 0, 0, 0.4),
      0px 6px 16px 0px rgba(0, 0, 0, 0.24) !important;
    border-radius: 8px !important;
    margin-left: 2px;
    .kt-icon {
      display: none;
    }
  }
}

.kt-menu.kt-inner-menu,
.kt-menu .kt-inner-menu {
  backdrop-filter: saturate(150%) blur(20px) !important;
  -webkit-backdrop-filter: saturate(150%) blur(20px) !important;
  background-color: rgba(34, 40, 48, 0.85) !important;
  border: 0 none !important;
  box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.15), 0 6px 16px 0 rgba(0, 0, 0, 0.24), 0 3px 6px -4px rgba(0, 0, 0, 0.36) !important;
  border-radius: 8px !important;
  min-width: initial;
  padding: 4px 0 !important;
  .kt-inner-menu-submenu-title,
  .kt-inner-menu-item {
    height: 28px !important;
    padding: 0 !important;
    line-height: 28px !important;
  }
  li.kt-inner-menu-submenu {
    line-height: 28px;
    padding-bottom: 0;
  }
}

.kt-menu.kt-inner-menu .kt-inner-menu-item {
  margin: 0 !important;
  height: 28px !important;
  display: flex !important;
  align-items: center !important;
  color: inherit !important;
  transition: none !important;
}
.kt-menu.kt-inner-menu .kt-inner-menu-item-divider,
.kt-menu .kt-inner-menu .kt-inner-menu-item-divider {
  pointer-events: none !important;
  background-color: var(--menu-separatorBackground) !important;
  opacity: 0.3;
  margin: 4px 0 !important;
}

/**
* 覆盖 popover 样式
*/
.kt-popover-content {
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.2), 0px 6px 16px 0px rgba(0, 0, 0, 0.24),
    0px 3px 6px -4px rgba(0, 0, 0, 0.4);
  padding: 5px 8px;
  border-radius: 6px;
  color: var(--kt-popover-foreground);
  background-color: var(--kt-popover-background);
  line-height: 18px;
  margin-top: -3px;
  .kt-popover-title {
    margin-bottom: 0;
    font-size: 12px;
  }

  &.kt-popover-top::before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    top: 100%;
    border-bottom-width: 0;
    border-top-color: var(--kt-popover-border);
  }
}

/* 修改滚动条滑块的圆角 */
html {
  ::-webkit-scrollbar-thumb {
    border-radius: 4px !important;
    background: var(--scrollbarSlider-background) !important;
  }
}

/* 修改滚动条大小调整 */

#workbench-editor .monaco-editor {
  .decorationsOverviewRuler {
    width: 4px !important;
  }
  .minimap {
    left: auto !important;
    right: 4px !important;
  }
  .monaco-scrollable-element {
    .vertical {
      width: 4px !important;
      .slider {
        width: 4px !important;
        left: unset !important;
        right: 0;
        border-radius: 4px !important;
      }
    }

    .horizontal {
      height: 4px !important;
      .slider {
        height: 4px !important;
      }
    }
  }
}

.basic_tree {
  .tree_node {
    border-radius: 4px;
  }
}

/* 设置滚动条宽度 */
.xterm .xterm-viewport {
  &::-webkit-scrollbar {
    width: 4px;
  }
}
