.ai-light {
  div[class*='box-panel___'] {
    background-image: url('https://mdn.alipayobjects.com/huamei_aj2sia/afts/img/A*b6AwQZnTs8UAAAAAAAAAAAAADoSNAQ/original');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.ai-dark {
  div[class*='box-panel___'] {
    background-image: url('https://mdn.alipayobjects.com/huamei_htww6h/afts/img/A*hLI-SqEx-YkAAAAAAAAAAAAADhl8AQ/original');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#opensumi-left-tabbar {
  span[class*='tab_badge___'] {
    top: 0;
    right: -8px;
    font-size: 10px;
    min-width: 16px;
    padding: 0 2px;
    height: 14px;
    line-height: 14px;
    letter-spacing: -0.5px;
  }
}

#opensumi-statusbar {
  border-top: 0;
}

/**
* 覆盖菜单样式
*/
.kt-menu {
  &::-webkit-scrollbar {
    width: 4px;
    margin: 20px;
  }
}
.kt-menu.kt-inner-menu-submenu {
  background-color: transparent !important;
  border-radius: 8px !important ;

  ul.kt-inner-menu-sub {
    backdrop-filter: saturate(150%) blur(20px) !important;
    -webkit-backdrop-filter: saturate(150%) blur(20px) !important;
    border: 0 none !important;
    box-shadow: 0px 9px 28px 8px var(--ai-native-boxShadow-color1), 0px 3px 6px -4px var(--ai-native-boxShadow-color2),
      0px 6px 16px 0px var(--ai-native-boxShadow-color3) !important;
    border-radius: 8px !important;
    margin-left: 2px;
    .kt-icon {
      display: none;
    }
  }
}

.kt-menu.kt-inner-menu,
.kt-menu .kt-inner-menu {
  backdrop-filter: saturate(150%) blur(20px) !important;
  -webkit-backdrop-filter: saturate(150%) blur(20px) !important;
  border: 0 none !important;
  box-shadow: 0px 9px 28px 8px var(--ai-native-boxShadow-color1), 0px 3px 6px -4px var(--ai-native-boxShadow-color2),
    0px 6px 16px 0px var(--ai-native-boxShadow-color3) !important;
  border-radius: 8px !important;
  min-width: initial;
  padding: 4px 0 !important;
  .kt-inner-menu-submenu-title,
  .kt-inner-menu-item {
    height: 28px !important;
    padding: 0 !important;
    line-height: 28px !important;
  }
  li.kt-inner-menu-submenu {
    line-height: 28px;
    padding-bottom: 0;
  }
}

.kt-menu.kt-inner-menu .kt-inner-menu-item {
  margin: 0 !important;
  height: 28px !important;
  display: flex !important;
  align-items: center !important;
  color: inherit !important;
  transition: none !important;
}
.kt-menu.kt-inner-menu .kt-inner-menu-item-divider,
.kt-menu .kt-inner-menu .kt-inner-menu-item-divider {
  pointer-events: none !important;
  background-color: var(--menu-separatorBackground) !important;
  opacity: 0.3;
  margin: 4px 0 !important;
}

/**
* 覆盖 popover 样式
*/
.kt-popover-content {
  box-shadow: 0px 9px 28px 8px var(--ai-native-boxShadow-color1), 0px 3px 6px -4px var(--ai-native-boxShadow-color2),
    0px 6px 16px 0px var(--ai-native-boxShadow-color3);
  padding: 5px 8px;
  border-radius: 6px;
  line-height: 18px;
  margin-top: -3px;
  .kt-popover-title {
    margin-bottom: 0;
    font-size: 12px;
  }
}

/* 修改滚动条滑块的圆角 */
html {
  ::-webkit-scrollbar-thumb {
    border-radius: 4px !important;
  }
}

/* 修改滚动条大小调整 */
#workbench-editor .monaco-editor {
  .decorationsOverviewRuler {
    width: 4px !important;
  }
  .minimap {
    left: auto !important;
    right: 4px !important;
  }

  .monaco-hover {
    backdrop-filter: saturate(150%) blur(20px) !important;
    -webkit-backdrop-filter: saturate(150%) blur(20px) !important;
    background-color: var(--menu-background) !important;
    border: 0 none !important;
    box-shadow: 0px 9px 28px 8px var(--ai-native-boxShadow-color1), 0px 3px 6px -4px var(--ai-native-boxShadow-color2),
      0px 6px 16px 0px var(--ai-native-boxShadow-color3) !important;
    border-radius: 8px !important;
  }
  .monaco-scrollable-element {
    > .scrollbar > .slider {
      background: var(--scrollbarSlider-background);
    }
    .vertical {
      width: 4px !important;
      .slider {
        width: 4px !important;
        left: unset !important;
        right: 0;
        border-radius: 4px !important;
      }
    }

    .horizontal {
      height: 4px !important;
      .slider {
        border-radius: 4px !important;
        height: 4px !important;
      }
    }
  }
}

.basic_tree {
  .tree_node {
    border-radius: 4px;
  }
}

/* 设置滚动条宽度 */
.xterm .xterm-viewport {
  &::-webkit-scrollbar {
    width: 4px;
  }
}

#opensumi-quickpick {
  backdrop-filter: saturate(150%) blur(20px) !important;
  -webkit-backdrop-filter: saturate(150%) blur(20px) !important;
  border: 0 none !important;
  box-shadow: 0px 9px 28px 8px var(--ai-native-boxShadow-color1), 0px 3px 6px -4px var(--ai-native-boxShadow-color2),
    0px 6px 16px 0px var(--ai-native-boxShadow-color3) !important;
  border-radius: 8px 8px 0 0 !important;
  padding: 4px 0;

  div[class*='quickopen_list___'] {
    border-radius: 0 0 8px 8px !important;
    backdrop-filter: saturate(150%) blur(20px) !important;
    -webkit-backdrop-filter: saturate(150%) blur(20px) !important;
    border: 0 none !important;
    box-shadow: 0px 9px 28px 8px var(--ai-native-boxShadow-color1), 0px 3px 6px -4px var(--ai-native-boxShadow-color2),
      0px 6px 16px 0px var(--ai-native-boxShadow-color3) !important;
  }
}

// 对话框
.kt-modal-content {
  border-radius: 8px;
  background-color: transparent;
}
.kt-overlay .kt-modal-body {
  border-radius: 8px;
  backdrop-filter: saturate(150%) blur(20px) !important;
  -webkit-backdrop-filter: saturate(150%) blur(20px) !important;
  border: 0 none !important;
  box-shadow: 0px 9px 28px 8px var(--ai-native-boxShadow-color1), 0px 3px 6px -4px var(--ai-native-boxShadow-color2),
    0px 6px 16px 0px var(--ai-native-boxShadow-color3) !important;
}
.kt-dialog-buttonWrap button {
  border-radius: 4px;
}

// 右下角弹框
.kt-notification-notice {
  border-radius: 8px;
}

// 全局按钮、下拉框、输入框设置调整
.kt-input {
  border-radius: 6px;
}

.default-button-size,
.kt-button {
  border-radius: 4px;
}

.large-button-size {
  border-radius: 6px;
}

.kt-select-container .kt-select-value {
  border-radius: 4px;
}

.kt-select-options {
  border-radius: 8px;
}

// debug、菜单弹层
div[class*='debug_toolbar_wrapper___'],
div[class*='navigation_menu___'] {
  border-radius: 8px;
  backdrop-filter: saturate(150%) blur(20px) !important;
  -webkit-backdrop-filter: saturate(150%) blur(20px) !important;
  background-color: var(--menu-background);
  border: 0 none !important;
  box-shadow: 0px 9px 28px 8px var(--ai-native-boxShadow-color1), 0px 3px 6px -4px var(--ai-native-boxShadow-color2),
    0px 6px 16px 0px var(--ai-native-boxShadow-color3) !important;
}
