.preference-view {
  margin: 40;
  height: 100%;
  color: #ccc;
  .scope-select {
    position: fixed;
    right: 100px;
  }
  .preference-line {
    margin: 40px;
  }
  .key {
    font-weight: bold;
  }
  .control-wrap {
    color: #fff;
    select,
    input {
      border: none;
      background: #333;
      padding: 3px 5px;
    }
  }
  .desc {
  }
  .text-control {
    max-width: 500px;
    width: 100%;
  }
  .select-control {
    width: 300px;
  }
  .number-control {
    width: 300px;
  }
}
