.preference-view{
  .scope-select {
    position: fixed;
    right: 100px;
  }

  .preference-list {
    overflow: auto;
  }
  .preference-line {
    margin: 40px;
  }
  .key { 
    font-weight: bold;
  }
  .control-wrap {
    color: #fff;
    select, input{
      border: none;
      background: #333;
      padding: 3px 5px;
    }
  }
  .desc {
  }

  .text-control {
    width: 500px;
  }
  .select-control {
    width: 300px;
  }
  .number-control {
    width: 300px;
  }
  .invalid-type {
    color: #f00;
  }
}