.preference-view{
  .preference-list {
    overflow: auto;
  }
  .preference-line {
    margin: 20px 10px;
  }
  .key { 
    background: #ccc;
    color: #333;
    margin: auto 5px auto 0;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .value {
    margin: auto 5px auto 0;
    padding: 5px 10px;
  }
  .desc {
    color: #aaa;
  }
  .scope-select {
    position: fixed;
    right: 100px;
  }
}