
.preferences {
  height:100%;
  font-size: 12px;
  overflow: hidden;
  .preference_noResults{
    font-size:13px;
    padding:20px;
    color: var(--foreground);
  }
  .preferences_header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-right:20px;
    .preferences_scopes {
      display: flex;
      position: relative;
      flex-shrink: 0;
      margin-right: 50px;
      > div {
        cursor: pointer;
        padding:10px;
        border-bottom: 1px solid transparent;
        z-index: 1;
        color: var(--titleBar-inactiveForeground);
        &:hover {
          color: var(--titleBar-activeForeground);
        }
        &.activated {
          border-bottom-color: var(--titleBar-activeForeground);
          color: var(--titleBar-activeForeground);
        }
      }
    }
    height: 40px;
    .search_pref {
      flex-grow:1;
      max-width: 500px;
      input {
        width:100%;
      }
    }
    &:after {
      content: '';
      position: absolute;
      bottom:0;
      left:0;
      height:1px;
      width:100%;
      z-index: 0;
      background: var(--editorGroup-border);
    }
  }

  .preferences_body {
    height:calc(100% - 40px);
    display: flex;
    .preferences_indexes {
      flex-shrink:0;
      border-right:1px solid var(--editorGroupHeader-tabsBorder);
      flex-grow: 0;
      width: 150px;
      .index_item {
        padding: 7px 45px 7px 15px;
        cursor: pointer;
        > span {
          margin-right:10px;
          display:inline-block;
          font-size: 1em;
        }
        &:hover {
          color: var(--list-hoverForeground);
          background-color: var(--list-hoverBackground);
        }
        &.activated {
          color: var(--list-activeSelectionForeground);
          background: var(--list-activeSelectionBackground);
        }
      }
      .preference_section_link {
        > div {
          padding: 5px 5px 5px 20px;
          color: var(--titleBar-inactiveForeground);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 12px;
          cursor: pointer;
          &:hover {
            color: var(--list-hoverForeground);
            background-color: var(--list-hoverBackground);
          }
        }
      }
    }
    .preferences_items{
      flex-grow: 1;
    }
    .preference_section{
      padding:15px 20px 0 5px;
      .section_title{
        font-size:14px;
        font-weight:bold;
        margin-bottom:10px;
        padding:0 15px;
      }
      .preference_item{
        margin-bottom: 10px;
        padding:5px 0px 5px 15px;
        &.modified {
          border-left:3px solid var(--settings-modifiedItemIndicator);
        }
      }
      .key { 
        margin-bottom:5px;
        font-size:13px;
      }
      .check {
        display: flex;
        align-items: center;
        > div:first-child {
          margin-right: 2px;
          display: flex;
          align-items: center;
        }
      }
      .desc {
        font-style: italic;
        opacity: 0.75;
        margin-bottom: 5px;
      }
      .control_wrap {
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
      }
      .add_button {
        margin: 0 4px;
        padding: 0 5px!important;
      }
      .arr_list {
        padding-left: 0;
      }
      .arr_items {
        list-style: none;
      }
      .arr_item {
        display: inline-block;
      }
      .rm_icon {
        margin-right: 4px;
        cursor: pointer;
      }
      .text_control {
        max-width: 500px;
        width: 100%;
      }
      .select_control {
        max-width: 300px;
        width: 100%;
      }
      .number_control {
        max-width: 300px;
        width: 100%;
      }
    }
  }

}

.preference_status {
  margin-left: 5px;
  .preference_overwritten {
    font-size:12px;
    opacity: 0.75;
  }
  .preference_reset {
    font-size: 13px;
    cursor: pointer;
    display:inline-block;
    &:hover {
      transform: scale(1.1);
    }
  }
}