@import '~@opensumi/ide-core-browser/lib/style/variable.less';

.preferences {
  height: 100%;
  font-size: @base-font-size;
  overflow: hidden;
  padding: 16px 32px 0 32px;
  box-sizing: border-box;
  min-width: 500px;
  .preference_noResults {
    padding: 20px;
    color: var(--foreground);
  }
  .preferences_header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    height: 40px;
    .search_pref {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      align-self: flex-end;
      max-width: 400px;
      input {
        width: 100%;
      }
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      z-index: 0;
      background: var(--editorGroup-border);
    }
  }

  .preferences_body {
    height: calc(100% - 40px);
    position: relative;
    padding-left: 155px;
    .preferences_indexes {
      position: absolute;
      width: 155px;
      padding-top: 16px;
      height: 100%;
      left: 0;
      .index_item_wrapper {
        margin-bottom: 2px;
      }
      .index_item {
        height: 26px;
        font-size: @base-font-size;
        line-height: 26px;
        padding-left: 9px;
        cursor: pointer;
        white-space: nowrap;

        > span {
          margin-right: 5px;
          display: inline-block;
          font-size: 1em;
        }
        &:hover {
          color: var(--list-hoverForeground);
          background-color: var(--list-hoverBackground);
        }
        &.activated {
          color: var(--list-activeSelectionForeground);
          background: var(--list-activeSelectionBackground);
        }
      }
      .preference_section_link {
        > div {
          padding: 5px 5px 5px 20px;
          padding-left: 25px;
          color: var(--titleBar-inactiveForeground);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          cursor: pointer;
          &:hover {
            color: var(--list-hoverForeground);
            background-color: var(--list-hoverBackground);
          }
        }
      }
    }
    .preferences_items {
      height: 100%;
      user-select: text;
      padding: 16px 0 0 10px;
    }
    .preference_section {
      :global(.kt-checkbox-icon) {
        height: 16px;
        width: 16px;
      }
      :global(.kt-checkbox) {
        font-size: @base-font-size;
      }
      .section_title {
        font-size: 14px;
        font-weight: bold;
        padding: 10px 15px;
        &:hover {
          color: var(--kt-tree-hoverForeground);
          background: var(--kt-tree-hoverBackground);
        }
      }
      .preference_item {
        padding: 15px 0px 15px 15px;
        border-left: 3px solid transparent;
        &.modified {
          border-left: 3px solid var(--settings-modifiedItemIndicator);
        }
        &:hover {
          color: var(--kt-tree-hoverForeground);
          background: var(--kt-tree-hoverBackground);
        }
        &.selected {
          color: var(--kt-tree-inactiveSelectionForeground) !important;
          background: var(--kt-tree-inactiveSelectionBackground);
        }
        &.focused {
          outline: 1px solid var(--list-focusOutline);
          outline-offset: -1px;
          color: var(--kt-tree-activeSelectionForeground) !important;
          background: var(--kt-tree-activeSelectionBackground);
        }
      }
      .key {
        margin-bottom: 5px;
        font-size: @base-font-size;
      }
      .check {
        display: flex;
        align-items: center;
        > div:first-child {
          margin-right: 2px;
          display: flex;
          align-items: center;
        }
      }
      .desc {
        font-size: @base-font-size;
        opacity: 0.75;
        color: var(--descriptionForeground);
        margin-bottom: 5px;
      }
      .control_wrap {
        input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        .text_control {
          width: 80%;
        }
      }
      .add_button {
        margin-left: 10px;
        padding: 0 8px !important;
      }
      .array_items_wrapper {
        width: 550px;
        padding-left: 0;
        position: relative;
        .array_edit_wrapper {
          position: absolute;
          height: 24px;
          width: 100%;
          top: 0;
          left: 0;
        }
        .array_edit_input {
          height: 24px;
          width: 100%;
        }
        .array_edit_input_tip {
          height: 24px;
          line-height: 24px;
          opacity: 0.3;
        }
      }
      .array_items {
        list-style: none;
        height: 24px;
        line-height: 24px;
        text-indent: 5px;
        font-size: 12px;
        color: var(--foreground);
        position: relative;
        cursor: pointer;
        .operate {
          display: none;
          position: absolute;
          right: 10px;
          top: 0;
          height: 24px;
          align-items: center;
          justify-content: center;
        }
        &:hover {
          color: var(--list-hoverForeground);
          background-color: var(--list-hoverBackground);
          .operate {
            display: flex;
          }
        }
      }

      .array_item {
        display: inline-block;
      }
      .rm_icon {
        cursor: pointer;
      }
      .text_control {
        max-width: 500px;
        width: 100%;
      }
      .select_control {
        max-width: 300px;
        width: 100%;

        .select_option {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &:hover .select_default_option_tips {
            color: var(--kt-selectDropdown-foreground);
          }
        }

        .select_default_option_tips {
          width: auto;
          flex: 0;
          color: var(--kt-selectOption-activeBorder);
          background-color: transparent;
        }
      }
      .number_control {
        max-width: 300px;
        width: 100%;
      }
    }
    .preferences_flex_row {
      display: flex;
      align-items: center;
      justify-content: start;
    }
  }

  .tabs {
    padding: 0 !important;
    font-size: @base-font-size;
    :global {
      .kt-tab {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.preference_status {
  margin-left: 5px;
  .preference_overwritten {
    font-size: 12px;
    opacity: 0.75;
  }
  .preference_reset {
    font-size: @base-font-size;
    cursor: pointer;
    display: inline-block;
    &:hover {
      transform: scale(1.1);
    }
  }
}
