@import '~@ali/ide-core-browser/lib/style/variable.less';

.menubars {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 27px;
  font-size: 14px;
  border-bottom: 1px solid var(--kt-menubar-border);
  background-color: var(--kt-menubar-background);
}

.menubar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  color: var(--kt-menubar-foreground);

  // 目前尚未开启使用 kt.menubar.separatorBackground

  &.menu-open,
  &:hover {
    color: var(--menubar-selectionForeground);
    background-color: var(--menubar-selectionBackground);
    border-left: 1px solid var(--menubar-selectionBorder);
    border-right: 1px solid var(--menubar-selectionBorder);
  }

  &-drop {
    position: absolute;
    left: 0;
    top: 100%;
  }
}
