
@import '~@ali/ide-core-browser/lib/style/variable.less';

body {
  .p-Menu {
    padding: 3px 0px;
    color: var(--menu-foreground);
    font-size: @kt-ui-font-size1;
    background-color: var(--menu-background);
    border: none;
    box-shadow: 0px 2px 4px rgb(0, 0, 0);
    display: block;
  }

  .p-Menu-item{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--menu-background);
  }

  .p-Menu-item.p-mod-active {
    background: var(--menu-selectionBackground);
    color: var(--menu-selectionForeground);
    border: 1px solid var(--menu-selectionBorder, transparent);
  }


  .p-Menu-itemIcon {
    width: 21px;
    padding: 4px 2px;
  }


  .p-Menu-itemLabel {
    padding: 4px 35px 4px 2px;
  }


  .p-Menu-itemMnemonic {
    text-decoration: underline;
  }


  .p-Menu-itemShortcut {
    padding: 4px 0px;
    justify-content: right;
    flex-grow: 1;
  }


  .p-Menu-itemSubmenuIcon {
    width: 16px;
    padding: 4px 0px;
  }


  .p-Menu-item[data-type='separator'] > div {
    padding: 0;
    display: none;
    height: 0;
  }

  .p-Menu-item[data-type='separator'] {
    display: block;
    padding: 0 10px;
  }


  .p-Menu-item[data-type='separator'] > div::after {
    content: none
  }

  .p-Menu-item[data-type='separator'] > .p-Menu-itemLabel {
    content: '';
    display: block;
    border-top: 1px solid var(--menu-separatorBackground);
    margin: 4px 0;
  }

  .p-Menu-item.p-mod-disabled {
    color: var(--menu-foreground-disabled);
  }

  // FIXME 不支持图标映射
  .p-Menu-item.p-mod-toggled > .p-Menu-itemIcon.iconcheck::before {
    content: "\e7fe";
    font-family: iconfont;
  }


}