.resourceLabel {
  display: flex;
  align-items: center;
  gap: 4px;
}

.strikethrough {
  text-decoration: line-through;
}

.relativePath {
  font-size: 12px;
  color: var(--descriptionForeground);
  margin-left: 4px;
}

.ellipsisPath {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}
