.wrap {
  height: 100%;
}

.header {
  display: flex;
  padding: 20px 20px 14px;
  font-size: 14px;
}

.title {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.details {
  margin-left: 20px;
}

.name {
  font-size: 26px;
  line-height: 30px;
  font-weight: 500px;
  white-space: nowrap;
}

.action {
  margin-right: 10px;
  &:hover {
    text-decoration: underline;
  }
  &.gray {
    color: inherit;
  }
}

.identifier {
  margin-left: 10px;
  font-size: 14px;
  opacity: .6;
  background: hsla(0,0%,68%,.31);
  padding: 0 4px;
  border-radius: 4px;
  user-select: text;
  white-space: nowrap;
}

.subtitle {
  padding-top: 6px;
  white-space: nowrap;
  height: 20px;
  line-height: 20px;
}

.description {
  margin-top: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.publisher {
  font-size: 18px;
}

.icon {
  width: 128px;
  height: 128px;
  object-fit: contain;
}

.body {
  height: calc(100% - 168px);
  overflow: hidden;
}

.navbar {
  height: 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 36px;
  padding-left: 20px;
  border-bottom: 1px solid hsla(0,0%,53%,.45);
  box-sizing: border-box;
}

.actions_container {
  display: flex;
  margin:0;
  padding:0;
}

.action_item {
  margin:0;
  padding:0;
  list-style-type:none;
}

.action_label {
  cursor: pointer;
  margin-right: 16px;
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

.action_label_show {
  text-decoration: underline;
}

.content, .content_item {
  height: 100%;
}

.content_item {
  display: none;
}

.content_item_show {
  display: block;
}

