.panel,
.panel :global(.views-container){
  height: 100%;
}

.tabs {
  padding: 5px 0 0 10px;
}

.content {
  height: 100%;
}

.search_nofound {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.search_nofound_link {
  margin-top: 10px;
}
