.panel,
.panel :global(.ant-tabs),
.panel :global(.views-container){
  height: 100%;
}

.panel :global(.ant-tabs) {
  color: var(--foreground);
}

.panel :global(.ant-tabs-bar) {
  border-color: transparent;
}

.panel :global(.ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active) {
  color: var(--button-background);

  &:hover {
    color: var(--button-hoverBackground);
  }
}

.panel :global(.ant-tabs-nav .ant-tabs-tab) {
  padding: 12px 0;
  margin-right: 16px;
  &:first-child {
    margin-left: 8px;
  }
}

.content {
  height: 100%;
}

.panel :global(.ant-tabs-content) {
  height: calc(100% - 90px);
}

.search_nofound {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.search_nofound_link {
  margin-top: 10px;
}
