@default_height: 24px;

.ai_inline_result_panel {
  display: flex;
  align-items: center;
  height: @default_height;
  padding: 1px 8px;
  justify-content: space-between;
  background-color: var(--kt-modal-background);
  border-radius: 6px;
  box-shadow: 0px 9px 28px 8px var(--ai-native-boxShadow-color1), 0px 3px 6px -4px var(--ai-native-boxShadow-color2),
    0px 6px 16px 0px var(--ai-native-boxShadow-color3);

  .side {
    display: flex;
    align-items: center;
    .operate_btn {
      height: 22px;
      line-height: 22px;
      padding: 0 6px;
    }
    .operate_icon {
      width: 22px;
      height: 22px;
      line-height: 22px;
      border-radius: 4px;
    }
  }
}
