@default_height: 24px;

.ai_inline_result_panel {
  display: flex;
  align-items: center;
  height: @default_height;
  padding: 1px 8px;
  justify-content: space-between;

  .side {
    display: flex;
    align-items: center;
    .operate_btn {
      height: 22px;
      line-height: 22px;
      padding: 0 6px;
    }
    .operate_icon {
      width: 22px;
      height: 22px;
      line-height: 22px;
      border-radius: 4px;
    }
  }
}
