@import '@opensumi/ide-core-browser/lib/style/variable.less';

#main {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background);
}
