.debug_breakpoint_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top-color: rgb(0, 122, 204);
  border-bottom-color: rgb(0, 122, 204);
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  overflow: hidden;
  align-items: center;
  background: var(--input-background);
}

.debug_breakpoint_selected {
  padding: 0 10px;
  flex: 1;
}

.debug_breakpoint_input {
  width: 100%;
  line-height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--input-background);
  background: var(--input-background);
  color: var(--input-foreground);
  border-radius: var(--input-borderRadius);
  border: var(--input-border);
  padding-left: 5px;
  outline: none;

  &:hover {
    border-color: var(--kt-inputOption-hoverBorder);
  }

  &:active,
  &:focus {
    border-color: var(--inputOption-activeBorder);
  }

  &::placeholder {
    color: var(--input-placeholderForeground);
  }
}
