.kt_workbench_editor {
  height: 100%;
  background-color: #2a2a2a;
}

.kt_editor_component {
  height: 100%;
}
.kt_editor_group {
  height: 100%;
}
.kt_editor_component_wrapper {
  height: 100%;
}

.kt_hidden {
  display: none;
}