.background-tab-icon {
  width: 16px;
  height: 16px;
}

.lightBulbWidget.kaitian-icon.kticon-magic-wand::before {
  background-image: radial-gradient(circle at -21% -22%, #19cfff, #8429ff);
  -webkit-background-clip: text;
  color: transparent;
  border: none;
  font-weight: 500;
  span {
    color: #fff;
  }
  :global {
    .kt-icon {
      color: #fff;
      font-size: 12px;
      margin-right: 8px;
    }
  }
}

.monaco-component.multiDiffEditor {
  & .multiDiffEntry {
    & .header {
      margin-top: 8px;
      .header-content {
        margin-top: 0;
      }
    }
    .status {
      &:empty {
        &::before {
          content: 'M';
        }
        color: var(--gitDecoration-modifiedResourceForeground);
      }
      &.added {
        color: var(--gitDecoration-addedResourceForeground);
      }
      &.deleted {
        color: var(--gitDecoration-deletedResourceForeground);
      }
      &.renamed {
        color: var(--gitDecoration-renamedResourceForeground);
      }
      &.modified {
        color: var(--gitDecoration-modifiedResourceForeground);
      }
    }
  }
}
