@import '~@ali/ide-core-browser/lib/style/variable.less';
@TAB_HEIGHT: 33px;

.kt_workbench_editor {
  height: 100%;
  background-color: var(--editor-background);
  display: flex;
}
.kt_editor_main_wrapper {
  flex-grow: 1;
  max-width: 100%;
}

.kt_editor_right_widget {
  flex-shrink: 0;
}

.kt_editor_component {
  height: 100%;
  > div{
    height: 100%;
  }
}
.kt_editor_code_editor {
  > div{
    height: 100%;
  }
}
.kt_editor_group {
  height: 100%;
  outline: none;
  display: flex;
  flex-direction: column;
  position: relative;

  .kt_editor_background {
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .kt_editor_tabs {
    display:flex;
    .editor_actions{
      flex-shrink: 0;
      height:@TAB_HEIGHT;
      display: flex;
      justify-content: center;
      align-items: center;
      padding:0 5px 0 10px;
      background: var(--editorGroupHeader-tabsBackground);
      border-bottom: 1px solid var(--editorGroupHeader-tabsBorder);
      .editor_action {
        margin-left: 5px;
        &:first-child {
          margin:0;
        }
        font-size:16px;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
        &:global {
          &.mask-mode {
            background: var(--foreground);
            height: 16px;
            width: 16px;
          }
        }
      }
    }
  }

  .kt_editor_tabs_scroll_wrapper {
    flex-grow:1;
    width:10px;
  }

  .kt_editor_tabs_scroll {
    background: var(--editorGroupHeader-noTabsBackground);
  }
  .kt_editor_tab_preview {
    font-style: italic;
  }
  .kt_editor_tabs_content {
    height: @TAB_HEIGHT;
    display:flex;
    background: var(--editorGroupHeader-tabsBackground);
    position: relative;
    &::before {
      content: '';
      height:1px;
      background: var(--editorGroupHeader-tabsBorder);
      bottom:0;
      width:100%;
      left:0;
      position: absolute;
      display: block;
      z-index: 0;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    .kt_editor_tab {
      display: flex;
      align-items: center;
      padding: 0 8px;
      border-right:1px solid var(--tab-border);
      font-size:@kt-ui-font-size0;
      line-height: 1.5em;
      font-size: 13px;
      cursor: pointer;
      color: var(--tab-inactiveForeground);
      background: var(--tab-inactiveBackground);
      border-bottom: 1px solid var(--editorGroupHeader-tabsBorder);
      z-index: 1;
      div:first-child {
        margin-right:5px;
      }
      div {
        white-space: nowrap;
        height: 19px;
      }
      .subname{
        color:  @kt-ui-font-color3;
        margin-left: 10px;
        font-size: 12px;
      }
      div.tab_right{
        margin-left: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width:10px;
      }
      .dirty {
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 5px;
          background-color: var(--tab-inactiveForeground);
        }
      }
      &.kt_editor_tab_current {
        background: var(--tab-activeBackground);
        color: var(--tab-activeForeground);
        border-bottom: 1px solid var(--tab-activeBackground);
        border-bottom-color: var(--tab-activeBorder);
        .dirty {
          &::before {
            background-color: var(--tab-activeForeground);
          }
        }
      }
      &.kt_on_drag_over {
        background: rgba(0,0,0,.5);
      }
      .close_tab {
        display:none;
      }
      &:hover {
        .dirty {
          display:none;
        }
        .close_tab {
          display:block;
        }
      }
    }
  }

  .editorGroupHeader {
    z-index: 0;
    position: relative;
  }

  .kt_editor_body {
    height: calc(~"100% - @{TAB_HEIGHT} - 27px");
    position: relative;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: center;

    &::after{
      z-index: 100;
      content: '';
      background: var(--editorGroup-dropBackground);
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: none;
      user-select: none;
      pointer-events: none;
      transition: all 200ms ease-in-out
    }
    &.kt_on_drag_over {
      &::after{
        opacity: 0.5;
        display: block;
        width:100%;
        height: 100%;
        top:0;
        left: 0;
      }
      &.kt_on_drag_over_left {
        &::after{
          opacity: 0.5;
          display: block;
          width:50%;
          height: 100%;
          top:0;
          left: 0;
        }
      }
      &.kt_on_drag_over_right {
        &::after{
          opacity: 0.5;
          display: block;
          width:50%;
          height: 100%;
          top:0;
          left: 50%;
        }
      }
      &.kt_on_drag_over_top {
        &::after{
          opacity: 0.5;
          display: block;
          width:100%;
          height: 50%;
          top:0;
          left: 0;
        }
      }
      &.kt_on_drag_over_bottom {
        &::after{
          opacity: 0.5;
          display: block;
          width:100%;
          height: 50%;
          top:50%;
          left: 0;
        }
      }
    }
  }
}

.kt_editor_component_wrapper {
  height: 100%;
  > div{
    height: 100%;
  }
}

.kt_hidden {
  display: none !important;
}


.kt_grid_vertical{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.kt_grid_vertical_child {
  height: 100%;
}

.kt_grid_horizontal{
  display:flex;
  flex-direction: row;
  height: 100%;
}
.kt_grid_horizontal_child {
  height: 100%;
}
.open_type_switcher {
  position: absolute;
  bottom: 37px;
  right: 10px;
  z-index: 100;
  background: var(--editorWidget-background);
  box-shadow: 0 2px 8px var(--widget-shadow);
  display:flex;
  > .option {
    padding: 5px 10px;
    cursor: pointer;
    &.current_type {
      color: var(--textLink-activeForeground);
    }
  }
}


.editor_action_tip{
  display: flex;
  .editor_action_tip_close{
    cursor: pointer;
  }
}

:global{
  :local(.editor_action_tip_wrapper) {
    background-color: var(--kt-editorActionToolTip-background) !important;
    color: var(--kt-editorActionToolTip-foreground) !important;
    z-index:10 !important;

      &.top {
        &::after {
          border-color: var(--kt-editorActionToolTip-background) transparent transparent transparent !important;
        }
      }
      &.bottom {
        &::after {
          border-color:  transparent transparent var(--kt-editorActionToolTip-background) transparent !important;
        }
      }

    
  }
}