.navigation_container {
  display: flex;
  align-items: center;
  overflow: auto;
  height: 23px;

  &::-webkit-scrollbar{
    display:none !important;
    background: rgb(50, 50, 50);
  }
  .navigation {
    padding-left: 6px;
    white-space: nowrap;
    .navigation-part{
      color: var(--breadcrumb-foreground);
      font-size:12px;
      padding: 0 4px;
      position:relative;
      line-height:22px;
      cursor: pointer;
      user-select: none;
      &:hover{
        color: var(--breadcrumb-focusForeground);
      }
      &:first-child{
        &::before {
          content: none;
        }
        &::after {
          content: none;
        }
      }
    }
  }
}
