.loading_indicator {
  background: linear-gradient(to right, #9c03ff, #00f6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
