.error_message {
  padding: 15px;
  .title {
    color: var(--foreground);
    font-size: 18px;
  }
  .detial {
    white-space: pre-wrap;
    margin-bottom: 10px;
    cursor: pointer;
    .label,
    .message {
      color: var(--kt-inputValidation-errorTextForeground);
    }
    .label {
      font-weight: bold;
    }
  }
}
