.input_decoration_readable_container {
  background-color: var(--vscode-diffEditor-insertedLineBackground, var(--vscode-diffEditor-insertedTextBackground));
}

.input_wrapper {
  transform: translateY(-4px);
}

.input_decoration_pending_container {
  background-color: var(--vscode-diffEditor-unchangedCodeBackground);
}
