.getting_started_container {
  box-sizing: border-box;
  line-height: 22px;
  position: relative;
  overflow: hidden;
  height: inherit;
  width: 100%;
  user-select: initial;
  outline: none;
  font-size: 13px;

  .getting_started_detailsContent {
    display: flex;

    .getting_started_left {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;

      // 左侧顶部标题和简介
      .category_container {
        .category_icon {
        }

        .category_description_container {
        }

        .category_title {
        }

        .category_description {
        }

        .steps_container {
        }

        .getting_started_detail_container {
        }
      }

      // step 列表
      .step_list_container {
        overflow: hidden;
        position: relative;
        height: 100%;

        .getting_started_step {
          display: flex;
        }

        .expanded {
        }

        .checkbox {
        }

        .step_container {
        }

        .step_title {
        }

        .step_description_container {
        }
      }
    }

    // media
    .getting_started_media {
      flex: 1;
    }
  }
}
