.badge {
  background-color: var(--badge-background);
  color: var(--badge-foreground);
  padding: .3em .5em;
  border-radius: 1em;
  font-size: 12px;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  transform: scale(.85);
}
