.icon {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  width: 16px;
  font-size: 14px;
  background-repeat: no-repeat;

  &:global(.mask-mode) {
    background-color: var(--foreground);
  }

  &.loading {
    animation: loadingCircle 1s infinite linear;
  }
}

@keyframes loadingCircle {
  100% {
    transform: rotate(360deg)
  }
}
