.inline_diff_current {
  background-color: hsla(0, 0%, 71%, 0.4);
}

.inline_diff_added_range {
  background-color: rgba(12, 233, 27, 0.2);
}

.inline_diff_remove_zone {
  background-color: rgba(242, 13, 59, 0.25);
  height: 18px;
  width: 100%;
  display: inline-block;
  margin-left: 80px;
  white-space: pre-wrap;
}
