@HEADER_HEIGHT : 27px;

.header {
  height: @HEADER_HEIGHT;
  background: var(--menu-background);
  color: var(--titlebar-activeForeground);
  -webkit-app-region: drag;
  text-align: center;
  line-height: @HEADER_HEIGHT;
  font-size:12px;
  user-select: none;
}