@HEADER_HEIGHT : 27px;

.header {
  height: @HEADER_HEIGHT;
  background: var(--menu-background);
  color: var(--titlebar-activeForeground);
  -webkit-app-region: drag;
  text-align: center;
  line-height: @HEADER_HEIGHT;
  font-size:12px;
  user-select: none;
}

.windowActions {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  height: @HEADER_HEIGHT;
  > div {
    font-size:14px;
    padding: 0 5px;
    &:hover {
      transform: scale(1.10);
    }
  }
}