.ai_switch {
  height: 16px;
  width: 16px;
  min-width: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  .avatar_icon_large {
    width: 16px;
    height: 16px;
    font-size: 16px !important;
  }
}
