.marker_node {
  line-height: 22px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  .title {
    color: var(--foreground);
    margin-right: 6px;
    display: inline;
    white-space: pre;
  }

  .title_description {
    display: inline;
    color: var(--descriptionForeground);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .detail_name {
    color: var(--foreground);
    margin-right: 6px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .detail_description {
    display: inline-flex;
    flex-shrink: 0;
    margin-left: 5px;
    color: var(--descriptionForeground);
    .typeContainer {
      color: var(--descriptionForeground);
      display: inline;
      flex-direction: row;
      white-space: nowrap;

      .type {
        color: var(--descriptionForeground);
        display: inline;
      }
    }

    .codeHref {
      color: var(--descriptionForeground);
      text-decoration: underline;
      border-bottom: 1px solid transparent;
      text-underline-position: under;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      transition: color 0.3s;
      -webkit-text-decoration-skip: objects;
      :global(a) {
        color: inherit;
      }
    }

    .position {
      color: var(--descriptionForeground);
      margin: 0 5px;
      display: inline;
    }
  }

  .highlight {
    background-color: var(--editor-findMatchHighlightBackground);
    font-weight: bold;
  }

  .description {
    display: inline;
    transform: scale(0.96);
    color: var(--descriptionForeground);
  }

  .content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    match {
      background-color: var(--editor-findMatchHighlightBackground);
    }
  }

  .status {
    text-align: center;
    font-size: 12px;
  }

  .segment {
    flex-grow: 0;
    white-space: nowrap;
    color: inherit;
    &_grow {
      flex-grow: 1 !important;
      text-align: left;
      z-index: 10;
      padding-right: 5px;

      &.overflow_visible {
        overflow: visible !important;
      }
    }
  }

  .tail {
    text-align: center;
    margin-right: 10px;
    position: relative;
    height: 22px;
    display: flex;
    align-items: center;
  }

  .overflow_wrap {
    flex: 1;
    display: flex;
    flex-shrink: 0;
    text-align: left;
    color: var(--foreground);
    flex-direction: row;
    width: 0;
  }

  .flex_wrap {
    display: flex;
    flex-direction: row;
  }

  .icon {
    position: relative;
    color: var(--icon-foreground);
    margin-right: 4px;
    &:before {
      font-size: 16px;
      text-align: center;
    }
  }
  &:hover {
    color: var(--kt-tree-hoverForeground);
    background: var(--kt-tree-hoverBackground);
    .outline_action_bar {
      display: block;
    }
    &::before {
      display: none !important;
    }
  }

  &.mod_selected {
    color: var(--kt-tree-inactiveSelectionForeground) !important;
    background: var(--kt-tree-inactiveSelectionBackground);
  }

  &.mod_focused {
    outline: 1px solid var(--list-focusOutline);
    outline-offset: -1px;
  }

  &.mod_actived {
    outline: 1px solid var(--list-focusOutline);
    outline-offset: -1px;
  }
}

.expansion_toggle {
  min-width: 20px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  font-size: 16px;
  color: var(--foreground);
  &.mod_collapsed {
    &:before {
      display: block;
    }
  }

  &:not(.mod_collapsed) {
    &:before {
      display: block;
      transform: rotate(90deg);
    }
  }
}
