@import '~@ali/ide-core-browser/lib/style/variable.less';

.scmSelect {
  :global {
    .ant-collapse {
      border-width: 0;
      border-radius: 0;
    }

    .ant-collapse-header {
      padding: 2px 8px;
    }

    .ant-collapse-item:last-child {
      border-radius: 0 !important;
    }
  }
}
