@import '~@opensumi/ide-core-browser/lib/style/variable.less';

.scmHeader {
  padding: 0 8px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
}

// Input
.scmInput {
  flex: 1;
}

.scmMenu {
  margin-left: 10px;
  :global {
    .kt-button {
      // height fit with scm-input
      height: 28px;
    }
  }
}
