@import '~@opensumi/ide-core-browser/lib/style/variable.less';

.scmHeader {
  padding: 0 8px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
}

// Input
.scmInput {
  flex: 1;
}

.scmMenu {
  padding: 0 8px;
  margin-bottom: 10px;
  :global {
    .kt-button {
      // height fit with scm-input
      height: 28px;
      border: 1px;
      border-radius: 0;
      width: calc(100% - 30px);
    }
    .secondary-button {
      margin-left: 0;
      margin-left: 0;
      flex-grow: 0;
      width: 30px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        height: 20px;
        width: 1px;
        left: 0;
        top: 4px;
        background-color: var(--kt-primaryButton-foreground);
      }
    }
  }
}
