@base-font-size: 14px;
@small-base-font-size: 12px;

.launch_container {
  height: 100%;
  font-size: @base-font-size;
  overflow: hidden;
  padding: 16px 16px 0 16px;
  box-sizing: border-box;
  min-width: 500px;

  .no_onfiguration {
    padding: 0 16px;
  }

  .launch_panel {
    height: 100%;
    margin-top: 8px;

    .launch_indexes_container {
      height: 100%;
      margin-right: 16px;
      .not_configuration_content {
        text-align: center;
        font-size: @small-base-font-size;
      }
      .configuration_items_box {
        height: calc(100% - 50px) !important;
        .configuration_item {
          height: 26px;
          display: flex;
          align-items: center;
          cursor: pointer;
          flex-direction: row;
          padding: 4px 8px;

          &:hover {
            background: var(--list-hoverBackground);
            color: var(--list-hoverForeground);
          }
          &.selected {
            background: var(--kt-tree-inactiveSelectionBackground);
            color: var(--list-activeSelectionForeground);
          }

          .configuration_wrapper {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
          }

          .configuration_description {
            display: inline;
            font-size: 12px;
          }
        }
      }
      .foot_box {
        position: relative;
        z-index: 1;
        .button {
          width: 100%;
        }
      }
    }

    .launch_schema_body_container {
      overflow: auto;
      height: 100%;
      padding: 0 16px 22px 0px;
    }
  }
}

.devider {
  box-sizing: border-box;
  font-size: 14px;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  margin: 0 3px;
  display: inline-block;
  vertical-align: middle;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-top: 0;
    border-left: 1px solid var(--editorGroup-border);
    pointer-events: none;
    transform: translateX(1.5px);
  }
  &:hover:after {
    border-color: transparent;
  }
}
