.terminal_inline_chat {
  position: absolute;
  right: 4px;
  top: 4px;
  background: var(--kt-modal-background);
  border-radius: 6px;
  box-shadow: 0px 9px 28px 8px var(--design-boxShadow-primary), 0px 3px 6px -4px var(--design-boxShadow-secondary),
    0px 6px 16px 0px var(--design-boxShadow-tertiary);
  color: var(--design-text-foreground);
}
