.kt_extension_container_header {
  height: 35px;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  .kt_extension_container_title {
    font-size: 12px;
    cursor: default;
    font-weight: 400;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 35px;
  }
}
