.kt_extension_container_title {
  font-size: 12px;
  cursor: default;
  font-weight: 400;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
