.quick-title-container {
  display: flex;
  padding: calc(var(--kt-ui-padding));
  justify-content: space-between;
  align-items: center;
  background-color: var(--titlebar-background);
}

.quick-title-left-bar {
  display: flex;
  text-align: left;
}

.quick-title-right-bar {
  display: flex;
  text-align: right;
}

.quick-title-header {
  text-align: center;
}

.quick-title-button {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
