.debug_action {
  opacity: 0.9;
  cursor: pointer;
  pointer-events: all;
  text-align: center;
  width: 16px;
  height: 16px;
  min-width: 16px;
  line-height: 16px;
  &::before {
    font-size: 16px;
  }
  &:active {
    transform: scale(1.2);
  }
  &::not(:focus) {
    border: 1px solid transparent;
  }
  &.mod_disabled {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }
}

.icon-size {
  background-size: 16px;
}

.start {
  background: url(../../assets/start.svg) center center no-repeat;
  .icon-size;
}

.continue {
  background: url(../../assets/continue.svg) center center no-repeat;
  .icon-size;
}

.step-in {
  background: url(../../assets/step-in.svg) center center no-repeat;
  .icon-size;
}

.step-out {
  background: url(../../assets/step-out.svg) center center no-repeat;
  .icon-size;
}

.stop {
  background: url(../../assets/stop.svg) center center no-repeat;
  .icon-size;
}

.pause {
  background: url(../../assets/pause.svg) center center no-repeat;
  .icon-size;
}

.disconnect {
  background: url(../../assets/disconnect.svg) center center no-repeat;
  .icon-size;
}

.reload {
  background: url(../../assets/reload.svg) center center no-repeat;
  .icon-size;
}

.step {
  background: url(../../assets/step.svg) center center no-repeat;
  .icon-size;
}
