@import '~@ali/ide-core-browser/lib/style/variable.less';

.scmInput {
  padding-left: 10px;
  padding-right: 10px;

  // Input
  textarea {
    width: 100%;
    font-size: @kt-ui-font-size1;
    line-height: 1.5;
    border-width: 1px;
    border-style: solid;
    border-color: var(--input-background);
    background: var(--input-background);
    color: var(--input-foreground);
    padding-left: 5px;
    outline: none;

    &:focus {
      border-color: var(--inputOption-activeBorder);
    }
  }
}
