@import '@opensumi/ide-core-browser/lib/style/variable.less';

#ai_chat_panel {
  height: 100%;
}

/**
* ---------------- 覆盖 editor tab 样式 ---------------------
*/
div[class*='kt_editor_group___'] div[class*='kt_editor_tabs_content___'] {
  div[class*='kt_editor_tab___'] {
    border-right: none;
    border-top: none;
  }

  div[class*='kt_editor_tab_current___'] {
    background-color: transparent !important;
  }
}

/**
* ---------------- 覆盖 editor navigation 导航条样式 ---------------------
*/
div[class*='navigation_container___'] {
  height: 28px;
  margin-bottom: 10px;
}

div[class*='file_tree_node___'] {
  border-radius: 4px;
}

/**
* ---------------- 覆盖 左、右、底 tabbar 样式 ---------------------
*/
@bottomBarHeight: 32px;

div[class*='icon_tab___'] {
  height: 32px;
  width: 32px;
  border-radius: 8px;

  div.activity-icon {
    font-size: 16px;
    width: initial;
    height: initial;
    color: var(--activityBar-inactiveForeground);

    &.mask-mode {
      background-color: var(--activityBar-inactiveForeground);
      -webkit-mask-size: 16px;
    }
  }
}

div[class*='tab_panel___'] {
  &::before {
    content: none;
  }
}

div[class*='tab_panel_hidden___'] {
  display: none;
}

.left-slot div[class*='tab_panel___'] {
  border-right: none;
}

li[class*='left_tab___'] {
  width: 100%;
  display: flex;
  justify-content: center;

  &.active {
    div[class*='icon_tab___'] {
      background-color: var(--activityBar-activeBorder);
      &::before {
        content: none;
      }
    }
  }
}

div[class*='left_tab_bar___'] {
  border-right: none;
  border-top: none;
}

div[class*='bar_content___'] {
  width: 100%;
}

.bottom-slot div[class*='tab_bar___'] {
  height: 100%;
}

li[class*='bottom_tab___'] {
  height: 100%;
  line-height: @bottomBarHeight;
}

div[class*='bottom_bar_container___'] {
  width: 100%;
  height: @bottomBarHeight;
  min-height: @bottomBarHeight;
}

/* --------------------------------------*/

div[class*='box-panel___'] {
  background-image: url('https://mdn.alipayobjects.com/huamei_htww6h/afts/img/A*hLI-SqEx-YkAAAAAAAAAAAAADhl8AQ/original');
  background-repeat: no-repeat;
  background-size: cover;
}

.rce-mbox-left-notch,
.rce-mbox-right-notch {
  display: none;
}

.rce-mbox {
  background-color: #ffffff0a;
  border-radius: 2px 12px 12px 12px;
  box-shadow: none;
  padding: 8px 12px;
  min-width: initial;
  margin: 0;

  ::after {
    content: '';
  }
}

.rce-mbox-text {
  font-size: 12px;
  line-height: 18px;
  width: inherit;
}

.rce-smsg {
  background-color: #ffffff0a;
  box-shadow: none;
  border-radius: 8px;
  max-width: initial;
  border-radius: 2px 12px 12px 12px;
  width: 100%;
  flex-direction: initial;
  justify-content: left;
  padding: 8px 12px 12px;
  margin: 0;

  .rce-smsg-text {
    font-size: 12px;
    width: 100%;
    text-align: left;
  }
}

.rce-container-smsg {
  width: 100%;
}

.rce-mlist {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}

.rce-ai-msg {
  > .rce-mbox {
    margin-bottom: 28px;
    width: 100%;
  }

  .rce-mbox-body {
    display: flex;
    align-items: flex-start;
    position: initial;
    width: 100%;

    .rce-mbox-title {
      position: absolute;
      left: -40px;
      top: 0;
    }

    .rce-avatar-container {
      &.default {
        height: 32px;
        width: 32px;
      }
    }
  }
}

.rce-container-mbox {
  overflow: hidden;
  margin: 0 16px 16px 16px;
  min-width: initial;
}

.rce-user-msg {
  .rce-mbox-right {
    border-radius: 12px 12px 2px 12px;
    background-color: #3c8dff4d;
    margin-right: 0;
    margin-left: 0;
  }
}

code {
  // color: #a31515;
  color: #666;
}

blockquote {
  background: var(--vscode-textBlockQuote-background);
  border-color: var(--vscode-textBlockQuote-border);
}

.AI-Content-Widget {
  box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 12px 16px;
  background-color: rgba(23, 28, 37, 1);
  border: 1px solid rgba(54, 57, 64, 1);

  // 编辑区域的 content widget
  .ant-select-selector {
    background-color: #c0c7d008 !important;
  }

  .ai-shortcuts {
    margin-bottom: 12px;
  }
}

// ai native main
.ai_native_panel_container {
  margin-right: 16px;
  width: initial;
}

.ai_native_slot_main {
  height: 100%;
  width: 100%;
  background-color: #151b21;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 12px;
  overflow: hidden;
}

.ai_native_slot_resize_horizontal {
  height: 100%;
  margin: 0 3px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 25px;
    width: 2px;
    background-color: #31363b;
    border-radius: 1px;
    top: 50%;
    left: 50%;
  }
}

// ai native input
.ai_native_input_container {
  height: 32px;
}
