.ai_marker_node_icon_container {
  display: flex;
  align-items: center;

  .ai_icon {
    color: #ffcc00;
    display: none !important;
    margin-right: 4px;
  }
}

.ai_editor_tab_block_container {
  display: flex;
  align-items: center;
  height: 28px;
  border-radius: 8px;
  padding: 0 8px;
  margin-right: 0 !important;

  &:hover {
    outline: 1px solid var(--activityBar-activeBorder);
    background-color: var(--tab-activeBackground);
    color: var(--tab-activeForeground);

    div:first-child {
      &::before {
        filter: grayscale(0);
      }
    }
  }

  div:first-child {
    margin-right: 4px !important;
    flex-shrink: 0;
    flex-grow: 0;

    &::before {
      background-size: 14px;
      background-position: 2px;
      filter: grayscale(1);
      color: rgba(255, 255, 255, 0.25);
    }
  }

  &.active {
    background-color: var(--tab-activeBackground);
    color: var(--tab-activeForeground);

    div[class*='close_tab___'] {
      display: none !important;
    }

    div:first-child {
      &::before {
        filter: grayscale(0);
      }
    }
  }

  div[class*='tab_right___'] {
    &:hover {
      background-color: initial !important;
      transform: scale(1) !important;
    }
  }
}
