.edit-file-tool-header {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-bottom: 1px solid var(--vscode-commandCenter-inactiveBorder);
  background-color: var(--design-block-background);
  font-size: 10px;
  > span {
    margin-right: 4px;
  }
  :global(.codicon-circle-large) {
    font-size: 12px;
  }
}
.edit-file-tool {
  border: 1px solid var(--vscode-commandCenter-inactiveBorder);
  border-radius: 4px;
  border-radius: 2px;
  margin: 8px 0;
}
.edit-file-tool-iteration-count {
  color: var(--vscode-input-placeholderForeground);
  margin-left: 4px;
}
