.testing_container {
  padding: 0 8px;

  .item_label {
    .overflow_wrap {
      padding-left: 5px;
    }
  }
}

.test_output_peek_message_container,
.test_output_peek_tree {
  height: 100%;
}

.test_output_peek_tree {
  background-color: var(--peekViewResult-background);
  color: var(--peekViewResult-lineForeground);
}

.preview_markdown {
  position: relative;
  overflow: hidden;
  padding: 8px 12px 8px 20px;
  height: calc(100% - 16px);
}
