.testing_container {
  padding: 0 8px;

  .item_label {
    .overflow_wrap {
      padding-left: 5px;
    }
  }

  .testing_iconFailed {
    color: #f14c4c;
  }

  .testing_iconErrored {
    color: #f14c4c;
  }
  .testing_iconPassed {
    color: #73c991;
  }
  .testing_runAction {
    color: #73c991;
  }
  .testing_iconQueued {
    color: #cca700;
  }
  .testing_iconUnset {
    color: #848484;
  }
}
