.kt_openeditor_container {
  font-size: 12px;
}

.kt_openeditor_label_description_contianer {
  overflow: hidden;
  text-overflow: ellipsis;
}

.kt_openeditor_group {
  padding-top: 5px;
}

.kt_openeditor_group_title {
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  padding-left: 10px;
  display: flex;
}

.kt_openeditor_node {
  height: 22px;
  line-height: 22px;
  padding-left: 18px;
  display: flex;
  cursor: pointer;
  &:hover {
    color: var(--list-hoverForeground);
    background: var(--list-hoverBackground);
  }
}

.kt_openeditor_label {
  color: inherit;
  white-space: pre;
  text-decoration: none;
}

.kt_openeditor_description {
  opacity: .7;
  margin-left: .5em;
  font-size: .9em;
  white-space: pre;
}

.kt_dirty_icon {
  position: absolute;
  height: 22px;
  left: -22px;
  line-height: 22px;
  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin: 7px;
    background: var(--editorGroup-dropBackground);
  }
}
