
@import '~@ali/ide-core-browser/lib/style/variable.less';

@kt-markers-inline-color: gray;
@kt-markers-item-margin: 0 0 0 5px;
@kt-markers-item-hover: {
  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
  }
}

@kt-markers-item-content-hover: {
  &:hover {
    padding-left: 5px;
  }
}

@kt-markers-item-icon: {
  margin-right: 5px;
  font-size: 14px;
}

.checkedBg {
  background-color: rgba(255, 255, 255, 0.15);
}

.checkedContainer {
  padding-left: 5px;
}


.highlight {
  background-color: rgba(255, 0, 0, 0.3);
  font-weight: bold;
}

.markersContent {
  font-size: @kt-content-font-size;
  position: absolute;
  width: 100%;
  height: inherit;
  padding: 2px 5px 5px 5px;
  overflow: auto;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none !important;
    width: @kt-scrollbar-width;
    height: @kt-scrollbar-width;
  }

  &:hover {
    &::-webkit-scrollbar {
      display: block !important;
      border-left: 0.5px solid rgba(255, 255, 255, 0.1);
    }
  }

  // 空内容
  .empty {
    color: @kt-markers-inline-color;
    display: flex;
    flex-direction: row;

    .reset {
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }
  }

  // 正常内容
  .normal {
    display: flex;
    flex-direction: column;
    color: @kt-content-font-color0;
  }

  .markerList {
    // 单个marker条目

    .markerItem {
      flex: 1;
      display: flex;
      flex-direction: column;

      // marker标题
      .itemTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        @kt-markers-item-hover();

        .fold { // 已展开状态
          @kt-markers-item-icon();
          transform: rotate(90deg);
        }

        .unfold {// 收起状态
          @kt-markers-item-icon();
        }

        .icon {
          width: 20px;
          height: 20px;
          margin: @kt-markers-item-margin;
        }

        .filename {
          color: @kt-content-font-color0;
          margin: @kt-markers-item-margin;
          max-width: 300px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .filepath {
          color: @kt-markers-inline-color;
          margin: @kt-markers-item-margin;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .totalCount {
          color: white;
          background-color: @kt-markers-inline-color;
          padding-left: 5px;
          padding-right: 5px;
          font-size: 12px;
          border-radius: 9px;
          margin: @kt-markers-item-margin;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      // marker内容
      .itemContent {
        display: flex;
        flex-direction: row;
        padding-left: 25px;
        align-items: center;
        height: 20px;
        line-height: 20px;
        @kt-markers-item-hover();

        .severity {
          margin-right: 2px;
        }

        .detailContainer {
          flex: 1;
          max-width: 95%;
          display: flex;
          flex-direction: row;
          align-items: center;
          line-height: 20px;
          @kt-markers-item-content-hover();

          .detail {
            color: @kt-content-font-color0;
            margin: @kt-markers-item-margin;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .typeContainer {
            color: @kt-markers-inline-color;
            margin: @kt-markers-item-margin;
            display: flex;
            flex-direction: row;
          }

          .type {
            color: @kt-markers-inline-color;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .position {
            color: @kt-markers-inline-color;
            margin: @kt-markers-item-margin;
          }
        }
      }
    }
  }

}
