<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Kaitain IDE</title>
    <meta name="ide-framework-version" content="<%= meta.ideVersion %>" />
    <meta name="engine-version" content="<%= meta.engineVersion %>" />
    <style>
      body {
        margin: 0;
        background-color: #2a2a2a;
      }

      #loading {
        position: relative;
        width: 100vw;
        height: 100vh;
        line-height: 100vh;
        color: #fff;
        text-align: center;
        z-index: 1;
        transition: opacity 500ms;
        font-size: 32px;
        background-color: #2a2a2a;
      }

      .loading-hidden {
        opacity: 0;
      }
    </style>
    <link href="<%= assets.main.css %>" rel="stylesheet" />
    <script src="loader.js"></script>
    <script>
      window.KAITIAN_SDK_CONFIG = <%- JSON.stringify(config) %>
      window.KAITIAN_CLIENT_OPTS = <%- JSON.stringify(clientAppOpts) %>
    </script>
  </head>
  <body>
    <div id="main"></div>
    <script src="<%= assets.main.js %>"></script>
  </body>
</html>
