
.overlay :global(.ant-modal-body){
  background: var(--notifications-background);
  border-color: var(--notifications-border);
}

.overlay {
  padding: 24px 24px;
  color: var(--notifications-foreground);
}

.overlay :global(.ant-modal-close-x) {
  margin: 10px 10px 0 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: var(--kt-notificationsCloseIcon-foreground);
}
