@import '@opensumi/ide-components/lib/style/mixins.less';

.terminalWrapper {
  height: 100%;
  width: 100%;
}

.terminalContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.terminalInstance {
  height: 100%;
  width: 100%;
}

.group {
  height: 100%;
  width: 100%;
}

.terminalCover {
  position: relative;
  height: 100%;
  width: 100%;
  background: var(--terminal-background);
  opacity: 0.8;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.terminalContent {
  height: 100%;
  width: 100%;
}

.terminalSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  right: 16px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
  background: var(--kt-panelTitle-background);

  input {
    height: 28px;
    padding: 0px 8px;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;

    &:focus {
      border-color: var(--focusBorder);
    }
  }
  .closeBtn {
    padding: 0px 6px;
    cursor: pointer;
  }
}

.terminalIntell {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  right: 0;
  width: 420px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
  background: var(--kt-panelTitle-background);
  padding: 12px;

  .intellTitleContainer {
    display: flex;
    width: 100%;

    .intellTitle {
      margin-left: 8px;
      font-size: 14px;
      flex: 1;
    }

    .intellTitleIcon {
      color: white;
    }

    .closeBtn {
      padding: 0px 6px;
      cursor: pointer;
    }
  }

  .intellSampleImage {
    width: 400px;
    height: 140px;
    border-radius: 4px;
    margin-top: 8px;
    background-image: url('https://mdn.alipayobjects.com/huamei_aj2sia/afts/img/A*loDkSbLhLwAAAAAAAAAAAAAADoSNAQ/original');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .intellUsage {
    margin-top: 8px;
    font-size: 12px;
  }

  .intellCheckContainer {
    display: flex;
    margin-top: 8px;

    .intellDesc {
      opacity: 0.9;
      color: var(--descriptionForeground);
      font-size: 12px;
    }
  }
}

.terminalFake {
  position: absolute;
  z-index: -999;
}
