@import '@opensumi/ide-components/lib/style/mixins.less';

.terminalWrapper {
  height: 100%;
  width: 100%;
}

.terminalContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.terminalInstance {
  height: 100%;
  width: 100%;
}

.group {
  height: 100%;
  width: 100%;
}

.terminalCover {
  position: relative;
  height: 100%;
  width: 100%;
  background: var(--terminal-background);
  opacity: 0.8;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.terminalContent {
  height: 100%;
  width: 100%;
}

.terminalContentWrapper {
  height: 100%;
  width: 100%;
}

.terminalFake {
  position: absolute;
  z-index: -999;
}
