.ai_diff_editor_container {
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--design-borderColor);
  border-bottom: 1px solid var(--design-borderColor);
  position: relative;
  overflow: hidden;

  .diff_editor_widget {
    position: absolute;
    height: inherit;
    width: 100%;
  }
}

.ai_diff_editor_resolve_result_widget {
  z-index: var(--stacking-level-overlay-top);
  display: flex;
  position: relative;
}

.inlineDiffManager {
  display: flex;
  border-radius: 14px;
  align-items: center;
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 999;
  > div {
    display: flex;
    align-items: center;
  }
  .mid {
    border-right: 1px solid var(--design-borderColor);
  }
  :global(.codicon) {
    font-size: 16px;
    padding: 6px;
    color: var(--kt-primaryButton-foreground);
    background-color: var(--kt-primaryButton-hoverBackground);
    &:hover {
      background-color: var(--kt-primaryButton-background);
    }
  }
}
.disabled {
  color: var(--kt-button-disableForeground) !important;
  background-color: var(--kt-button-disableBackground) !important;
  cursor: not-allowed;
}
