@import '../style/variable.less';

.@{prefix}-md-renderer-wrap {
  word-break: break-all;
  color: var(--foreground);

  hr {
    border-top: 1px solid var(--activityBar-border);
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 0.5em;
  }
}
