// 覆盖 antd/react-component 组件的样式

.ant-menu {
  padding: 3px 0px;
  color: var(--menu-foreground);
  font-size: 13px;
  background-color: var(--menu-background);
  border: none;
  box-shadow: 0px 2px 4px #000000;
  display: block;
  border-radius: 0;

  .ant-menu-item {
    margin: 0 !important;
    padding: 4px !important;
    cursor: default;
    height: 26px;
    display: flex;
    align-items: center;
  }

  .ant-menu-item-divider {
    margin: 4px 10px;
    pointer-events: none;
  }

  .ant-menu-item-active {
    background: var(--menu-selectionBackground);
    color: var(--menu-selectionForeground);
  }
}
