// 覆盖 antd/react-component 组件的样式

.overrideAntdMenu(@n, @i: 1) when (@i =< @n) {
  @clsx: extract(@antdMenuClx, @i);

  .@{clsx} {
    padding: 3px 0px !important;
    color: var(--menu-foreground) !important;
    font-size: 13px !important;
    background-color: var(--menu-background)  !important;
    border: none  !important;
    box-shadow: 0px 2px 4px #000000 !important;
    display: block !important;
    border-radius: 0 !important;

    .@{clsx}-item {
      margin: 0 !important;
      padding: 4px !important;
      cursor: default !important;
      height: 26px !important;
      display: flex !important;
      align-items: center !important;
      color: inherit !important;
    }

    .@{clsx}-item-divider {
      margin: 4px 0 !important;
      pointer-events: none !important;
      background: var(--menu-separatorBackground) !important;
    }

    .@{clsx}-item-active {
      background: var(--menu-selectionBackground) !important;
      color: var(--menu-selectionForeground) !important;
    }
  }

  .overrideAntdMenu(@n, (@i + 1));
}

@antdMenuClx: ant-menu, ant-dropdown-menu;

.overrideAntdMenu(length(@antdMenuClx));
