@import '~antd/lib/style/index.css';
@import "./variable.less";
@import './icon/index.less';
@import './octicons/octicons.css';
@import './octicons/octicons-animations.css';
@import './antd-override.less';

html {
  overflow: hidden;
  .iconfont {
    font-size: 14px;
  }
}

body, html {
  margin: 0;
  padding: 0;
  // 使用该字体获取与vscode一致的图标表现
  // 仅mac下可用，windows待区分
  // https://stackoverflow.com/questions/32660748/how-to-use-apples-new-san-francisco-font-on-a-webpage
  font-family: -apple-system,BlinkMacSystemFont,sans-serif;
  // 全局默认字体颜色
  color: var(--foreground);
  background-color: var(--editor-background);
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder-foreground);
}

// 全局设置滚动条样式
::-webkit-scrollbar {
  display: none;
  height: @kt-scrollbar-width;
  width: @kt-scrollbar-width;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarSlider-background);
  box-shadow: 1px 0 0 var(--scrollbar-shadow);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbarSlider-hoverBackground);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

a {
  color: var(--textLink-foreground);

  &:hover,
  &:active,
  &:focus {
    color: var(--textLink-activeForeground);
  }
}

blockquote {
  background-color: var(--textBlockQuote-background);
  border-color: var(--textBlockQuote-border);
}

code {
  background-color: var(--textCodeBlock-background);
}

pre {
  background-color: var(--textPreformat-foreground);
}

.kt-text-desc {
  color: var(--descriptionForeground);
}

.kt-text-error {
  color: var(--errorForeground);
}

// :focus {
//   outline:0;
// }

// 需要覆盖掉 monaco quickopen 默认的图表
.monaco-quick-open-widget .quick-open-tree .quick-open-entry .quick-open-row .quick-open-entry-icon {
  position: relative;
  background-image: none;
  margin-right: 0px;

  // 让 icon 位于容器中间
  &:before {
    font-size: 18px;
    position: absolute;
    top: -2px;
    right: 0;
  }
}

// 覆盖 monaco quickopen input 的 outline
.monaco-quick-open-widget .quick-open-input input {
  outline: none;
}

.monaco-keybinding-key {
  background-color: var(--activityBar-background) !important;
  border: none !important;
  border-bottom-color: var(--activityBar-inactiveForeground) !important;
  font-size: 12px !important;
  color: var(--activityBar-inactiveForeground) !important;
}

// 覆盖 monaco 搜索输入框样式
.monaco-editor .find-widget .button {
  outline: none;
}
.monaco-editor .find-widget .monaco-inputbox .input {
  border-width: 1px;
  border-style: solid;
  outline: none;
  color: var(--input-foreground);
  border-color: var(--input-background);
  &:focus {
    border-color: var(--inputOption-activeBorder);
  }
  &::placeholder {
    color: var(--input-placeholderForeground);
  }
}

[tabindex='-1'] {
  &:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
  }
}

.none-pointer-event {
  pointer-events: none;
}
