@import "./variable.less";
@import '~font-awesome/css/font-awesome.min.css';
@import './icon/index.less';

body, html {
  margin: 0;
  padding: 0;
  // 使用该字体获取与vscode一致的图标表现
  // 仅mac下可用，windows待区分
  // https://stackoverflow.com/questions/32660748/how-to-use-apples-new-san-francisco-font-on-a-webpage
  font-family: -apple-system,BlinkMacSystemFont,sans-serif;
  // 全局默认字体颜色
  color: var(--foreground);
}

:focus {
  outline:0;
}

// 需要覆盖掉 monaco quickopen 默认的图表
.monaco-quick-open-widget .quick-open-tree .quick-open-entry .quick-open-entry-icon.file-icon {
  position: relative;
  background-image: none;
  margin-right: 0px;

  // 让 icon 位于容器中间
  &:before {
    font-size: 18px;
    position: absolute;
    top: -2px;
    right: 0;
  }
}
