#workbench-editor {
  .monaco-editor {
    // 覆盖 Monaco 搜索输入框样式
    .find-widget .button {
      outline: none;
    }
    .find-widget .monaco-inputbox .input {
      border-width: 1px;
      border-style: solid;
      outline: none;
      color: var(--input-foreground);
      border-color: var(--input-background);
      &:focus {
        border-color: var(--inputOption-activeBorder);
      }
      &::placeholder {
        color: var(--input-placeholderForeground);
      }
    }

    // 禁用掉 monaco editor 左侧行号的选中效果，避免在断点 context menu 时选中所有行号
    .margin-view-overlays .line-numbers {
      user-select: none;
    }
  }
}

.split-view-container {
  .preview.inline {
    width: 100%;
    height: 100%;
  }
}

// 需要覆盖掉 monaco quickopen 默认的图表
.quick-open-overlay .monaco-quick-open-widget .quick-open-tree .quick-open-entry .quick-open-row .quick-open-entry-icon {
  position: relative;
  background-image: none;
  margin-right: 8px;

  // 让 icon 位于容器中间
  &:before {
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}

.quick-open-overlay .monaco-tree .monaco-tree-row > .content.actions > .primary-action-bar .action-label {
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 0px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  font-size: 16px;
}

// 覆盖 monaco quickopen input 的 outline
.monaco-quick-open-widget .quick-open-input input {
  outline: none;
}

.monaco-quick-open-widget .quick-open-tree .results-group {
  color: var(--textLink-foreground) !important;
}

// monaco editor 内部 menu 的分割线
.monaco-action-bar.vertical .action-label.separator {
  margin-left: 0;
  margin-right: 0;
}

.monaco-editor .peekview-widget .head .peekview-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.context-view.monaco-menu-container {
  margin-left: 1px;
}
