
.kt-toolbar-location {
  position: relative;
  background-color: var(--kt-menubar-background);
  > div {
    width: 100%;
    height: 100%;
  }
  .kt-toolbar-location-visible, .kt-toolbar-location-dropdown {
    width: 100%;
    display: flex;
    padding: 0 5px;
    > div {
      margin-left: 5px;
      &:first-child {
        margin-left:0;
      }
    }
    .kt-toolbar-more {
      cursor: pointer;
    }
  }
  
  // button
  .kt-toolbar-action-btn {
    display: flex;
    
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.kt-toolbar-action-btn-vertical {
      flex-direction: column;
      &.kt-toolbar-action-btn-button {
        .kt-toolbar-action-btn-icon {
            padding: 0px 5px;
            border-radius: 3px;
            background: #43484D; /* TODO: */
        }
        &:hover {
          .kt-toolbar-action-btn-icon {
            background: #5F656B; /* TODO: */
          }
        }
      }
      &.kt-toolbar-action-btn-inline {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    &.kt-toolbar-action-btn-horizontal {
      
      &.kt-toolbar-action-btn-inline {
        &:hover {
          transform: scale(1.08);
        }
      }
      &.kt-toolbar-action-btn-button {
        padding: 0px 5px;
        background: #43484D; /* TODO: */
        border-radius: 2px;
        &:hover {
          background: #5F656B; /* TODO: */
        }
      }
      .kt-toolbar-action-btn-icon {
          margin-right: 4px;
          position: relative;
          top: 1px;
      }
      .kt-toolbar-action-btn-icon:last-child {
        margin-right: 0;
      }
    }
  }
  .kt-toolbar-action-split {
    border-right: 1px solid rgba(0,0,0,.25);
    height: 18px;
  }
  &.action-btn-in-dropdown {
    flex-direction: row;
    padding: 5px;
  }
}

.kt-toolbar-location-dropdown {
    position: fixed;
    z-index: 10;
    display: block;
    background-color: var(--kt-menubar-background);
    .kt-toolbar-action-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background: #5F656B; /* TODO: */
      }
      &.action-btn-in-dropdown {
        flex-direction: row;
        padding: 5px;
      }
      .kt-toolbar-action-btn-icon {
          margin-right: 4px;
          position: relative;
          top: 1px;
      }
    }
  .kt-toolbar-action-split {
    border-top: 1px solid rgba(0,0,0,.25);
    width:100%;
  }
  .overlay-shadow();
}
