.kt-text-desc {
  color: var(--descriptionForeground);
}

.kt-text-error {
  color: var(--errorForeground);
}

.none-pointer-event {
  pointer-events: none;
}

.resize-wrapper {
  width: 100%;
  height: 100%;
}
