.kt-text-desc {
  color: var(--descriptionForeground);
}

.kt-text-error {
  color: var(--errorForeground);
}

.none-pointer-event {
  pointer-events: none;
}

/* ---- 这一段是寻壑加的，建议挪到 layout resize 相关的实现部分 ---- */
.resize-wrapper {
  width: 100%;
  height: 100%;
}
/* -------- */
