@import './material-color.css';

/* Borders: Width and color (dark to bright) */

@kt-border-width: 1px;
@kt-panel-border-width: 2px;
@kt-border-color0: var(--md-grey-900);
@kt-border-color1: var(--md-grey-800);
@kt-border-color2: var(--md-grey-600);
@kt-border-color3: var(--md-grey-400);


/* UI fonts: Family, size and color (bright to dark)
    ---------------------------------------------------
     The UI font CSS variables are used for the typography all of the Theia
     user interface elements that are not directly user-generated content.
  */

@kt-ui-font-scale-factor: 1.2;
@kt-ui-font-size0: calc(var(@kt-ui-font-size1) / var(@kt-ui-font-scale-factor));
@kt-ui-font-size1: 13px;
/* Base font size */
@kt-ui-font-size2: calc(var(@kt-ui-font-size1) * var(@kt-ui-font-scale-factor));
@kt-ui-font-size3: calc(var(@kt-ui-font-size2) * var(@kt-ui-font-scale-factor));
@kt-ui-icon-font-size: 14px;
/* Ensures px perfect FontAwesome icons */
@kt-ui-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

@kt-ui-font-color0: var(--md-grey-100);
@kt-ui-font-color1: var(--md-grey-300);
@kt-ui-font-color2: var(--md-grey-500);
@kt-ui-font-color3: var(--md-grey-700);

/* 
  Content fonts: Family, size and color (bright to dark)
  Content font variables are used for typography of user-generated content.
*/

@kt-content-font-size: 13px;
@kt-content-line-height: 1.5;
@kt-content-font-color0: white;
@kt-content-font-color1: white;
@kt-content-font-color2: var(--md-grey-500);
@kt-content-font-color3: var(--md-grey-700);

@kt-code-font-size: 13px;
@kt-code-line-height: 17px;
@kt-code-padding: 5px;
@kt-code-font-family: Menlo,
  Monaco,
  Consolas,
  "Droid Sans Mono",
  "Courier New",
  monospace,
  "Droid Sans Fallback";
@kt-terminal-font-family: monospace;
@kt-ui-padding: 6px;

/* Scrollbars */
@kt-scrollbar-width: 10px;
@kt-scrollbar-rail-width: 10px;
@kt-scrollbar-thumb-color: hsla(0, 0%, 61%, .4);
@kt-scrollbar-rail-color: transparent;
@kt-scrollbar-active-thumb-color: hsla(0, 0%, 39%, .4);
@kt-scrollbar-active-rail-color: transparent;

/* Main layout colors (dark to bright)
    ------------------------------------ */

@kt-layout-color0: #1d1d1d;
@kt-layout-color1: #252526;
@kt-layout-color2: #333333;
@kt-layout-color3: #383838;
@kt-layout-color4: #383838;