// @import './themes/vol-color.css';

/* 边框宽度及颜色 （颜色由深到浅） */

@kt-border-width: 1px;
@kt-panel-border-width: 2px;
@kt-border-color0: var(--split-b1);
@kt-border-color1: var(---split-b2);
@kt-border-color2: var(--split-b3);


/* 字体缩放因子 */

@kt-ui-font-scale-factor: 1.2;

/* 基础文字大小 （由小到大） */
@kt-ui-font-size0: calc(@kt-ui-font-size1 / @kt-ui-font-scale-factor);
@kt-ui-font-size1: 13px;
@kt-ui-font-size2: calc(@kt-ui-font-size1 * @kt-ui-font-scale-factor);
@kt-ui-font-size3: calc(@kt-ui-font-size2 * @kt-ui-font-scale-factor);
@kt-ui-icon-font-size: 14px;


/* 字体样式（由浅到深） */

@kt-ui-font-color0: var(--highlight-color1);
@kt-ui-font-color1: var(--head-color);
@kt-ui-font-color2: var(--text-color);
@kt-ui-font-color3: var(--text-color-secondary);

/* 内容的字体、大小及颜色 （由浅到深） */

@kt-content-font-size: 13px;
@kt-content-line-height: 1.5;
@kt-content-font-color0: var(--highlight-color1);
@kt-content-font-color1: var(--head-color);
@kt-content-font-color2: var(--text-color);
@kt-content-font-color3: var(--text-color-secondary);

/* 代码的字体、大小、边距 */

@kt-code-font-size: 13px;
@kt-code-line-height: 17px;
@kt-code-padding: 5px;
@kt-code-font-family: Menlo,
  Monaco,
  Consolas,
  "Droid Sans Mono",
  "Courier New",
  monospace,
  "Droid Sans Fallback";
@kt-terminal-font-family: monospace;
@kt-ui-padding: 6px;

/* 全局 Scrollbar 样式 */

@kt-scrollbar-width: 10px;
@kt-scrollbar-rail-width: 10px;
@kt-scrollbar-thumb-color: hsla(0, 0%, 61%, .4);
@kt-scrollbar-rail-color: transparent;
@kt-scrollbar-active-thumb-color: hsla(0, 0%, 39%, .4);
@kt-scrollbar-active-rail-color: transparent;

/* 主布局颜色（深到浅），如FileTree所在的sidepanel颜色为@kt-layout-color1 */

@kt-layout-color0: var(--background-m1);
@kt-layout-color1: var(--background-m2);
@kt-layout-color2: var(--background-m3);
@kt-layout-color3: var(--background-m4);
@kt-layout-color4: var(--background-m5);
@kt-layout-color5: var(--background-m6);
@kt-layout-color6: var(--background-m7);
@kt-layout-color7: var(--background-m8);
@kt-layout-color8: var(--background-m9);
@kt-layout-color9: var(--background-m10);

/* 主布局颜色，用于与布局背景色形成对比色（深到浅）*/

@kt-accent-color1: var(--primary-b1);
@kt-accent-color2: var(--primary-b2);
@kt-accent-color3: var(--primary-b3);
