.overlay :global(.ant-modal-body) {
  background: var(--kt-modal-background);
  border-color: var(--notifications-border);
  border-radius: 2px;
}

.overlay :global(.ant-modal-header) {
  background-color: var(--kt-modal-background);
  border-bottom-color: var(--kt-modal-separatorBackground);
  height: 56px;
}

.overlay {
  padding: 24px 24px;
  color: var(--kt-modal-foreground);
}

.overlay :global(.ant-modal-close-x) {
  margin: 10px 10px 0 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: var(--kt-notificationsCloseIcon-foreground);
}
