@font-face {
  font-family: 'volansIcon';
  src: url('./icon.woff') format('woff');
}

.volans_icon {
  font-family: "volansIcon" !important;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;

  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

&.add_in:before { content: "\e66d"; }

&.ab:before { content: "\e66e"; }

&.arrow:before { content: "\e66f"; }

&.alipay:before { content: "\e670"; }

&.authorize:before { content: "\e671"; }

&.abl:before { content: "\e672"; }

&.close:before { content: "\e673"; }

&.community:before { content: "\e674"; }

&.code_editor:before { content: "\e675"; }

&.compile_stop:before { content: "\e676"; }

&.debug:before { content: "\e677"; }

&.compile_start:before { content: "\e678"; }

&.dingding:before { content: "\e679"; }

&.detail:before { content: "\e67a"; }

&.down:before { content: "\e67b"; }

&.app:before { content: "\e67c"; }

&.check:before { content: "\e67d"; }

&.document:before { content: "\e67f"; }

&.drop_down:before { content: "\e680"; }

&.edit:before { content: "\e681"; }

&.error:before { content: "\e682"; }

&.exclaimination:before { content: "\e683"; }

&.file_text:before { content: "\e684"; }

&.file:before { content: "\e685"; }

&.editor_setting:before { content: "\e686"; }

&.eye:before { content: "\e687"; }

&.folder_open:before { content: "\e627"; }

&.fold:before { content: "\e689"; }

&.folder:before { content: "\e68a"; }

&.holomorphy:before { content: "\e68b"; }

&.home:before { content: "\e68c"; }

&.indent_left:before { content: "\e68d"; }

&.information:before { content: "\e68e"; }

&.log:before { content: "\e690"; }

&.location:before { content: "\e691"; }

&.newline:before { content: "\e692"; }

&.keyboard:before { content: "\e693"; }

&.next_line:before { content: "\e694"; }

&.open:before { content: "\e695"; }

&.outdent_left:before { content: "\e697"; }

&.plug_in:before { content: "\e698"; }

&.preview:before { content: "\e699"; }
&.preview_new:before { content: "\e603"; }

&.project:before { content: "\e69a"; }

&.previous_line:before { content: "\e69b"; }

&.refresh:before { content: "\e69d"; }

&.logout:before { content: "\e69e"; }

&.remote_debug:before { content: "\e69f"; }

&.scan:before { content: "\e6a0"; }

&.search_close:before { content: "\e6a1"; }

&.setting:before { content: "\e6a2"; }

&.shake:before { content: "\e6a3"; }

&.search:before { content: "\e6a4"; }

&.shell:before { content: "\e6a5"; }

&.spread:before { content: "\e6a6"; }

&.start:before { content: "\e6a7"; }

&.stop:before { content: "\e6a8"; }

&.theme:before { content: "\e6aa"; }

&.swap:before { content: "\e6ab"; }

&.update:before { content: "\e6ac"; }

&.tuck_up:before { content: "\e6ad"; }

&.warning:before { content: "\e6ae"; }

&.webview:before { content: "\e6af"; }

&.withdraw:before { content: "\e6b0"; }

&.upload:before { content: "\e6b1"; }

&.right:before { content: "\e6b2"; }

&.plus:before { content: "\e6b3"; }

&.download1:before { content: "\e6b4"; }

&.rocket:before { content: "\e6b5"; }

&.pulldown_refresh1:before { content: "\e6b6"; }

&.outdent_right:before { content: "\e69c"; }

&.indent_right:before { content: "\e6b7"; }

&.logo_icon:before { content: "\e696"; }

&.dingding_logo:before { content: "\e6b8"; }

&.alipay_logo:before { content: "\e6b9"; }

&.error_color:before { content: "\e6ba"; }

&.warning_color:before { content: "\e6bb"; }

&.right_color:before { content: "\e6bc"; }

&.information_color:before { content: "\e6bd"; }

&.logo:before { content: "\e6be"; }

&.to_right:before { content: "\e6bf"; }

&.log_new:before { content: "\e6c0"; }

&.logo_windows_large:before { content: "\e6c1"; }

&.logo_windows_small:before { content: "\e6c2"; }

&.copy:before { content: "\e6c3"; }

&.test:before { content: "\e6a9"; }

&.cloud:before { content: "\e60c"; }

&.menu:before { content: "\e60e"; }

&.sys:before { content: "\e60f"; }

&.file_upload:before { content: "\e610"; }

&.file_setting:before { content: "\e611"; }

&.cloud_prefix:before { content: "\e612"; }

&.basement_icon:before { content: "\e6c4"; }

&.warn:before { content: "\e7fe"; }

&.cut:before { content: "\e7ff"; }

&.feed_back:before { content: "\e601";}

&.upload_file:before { content: "\e602";}

&.iphonex:before { content: "\e605";}

&.sim_start:before { content: "\e607";}

&.git_icon:before { content: "\e61d"; }

&.npm_icon:before { content: "\e61c"; }

&.step_over:before { content: "\e692"; }

&.step_into:before { content: "\e694"; }

&.step_out:before { content: "\e69b"; }

&.internal:before { content: "\e67e"; }

&.top:before { content: "\e604"; }

&.notification:before { content: "\e609"; }

&.yundong:before { content: "\e606"; }

&.embed:before { content: "\e60a"; }

&.pop:before { content: "\e60b"; }

&.cache_clean:before { content: "\e60d"; }

&.yunyinqingmulu:before { content: "\e613"; }

&.yunhanshumulu:before { content: "\e614"; }

&.taobao01:before { content: "\e615"; }

&.cloud-service:before { content: "\e616"; }

&.taobao02:before { content: "\e617"; }

&.taobao03:before { content: "\e622" }

&.qianniu:before { content: "\e620" }

&.qianniu1:before { content: "\e621" }

&.pc:before { content: "\e61f" }

&.idesvg_platform:before { content: "\e61e" }

&.component:before { content: "\e618"; }

&.material:before { content: "\e619"; }

&.yundiaoyong:before { content: "\e6c5"; }

&.user:before { content: "\e61b"; }

&.code_symbol:before { content: "\e61a"; }

&.uni_app:before { content: "\e624"; }

&.windows_mini:before { content: "\e633"; }

&.windows_recover:before { content: "\e63c"; }

&.windows_fullscreen:before { content: "\e64e"; }

&.windows_quit:before { content: "\e625"; }

&.skin:before { content: "\e626"; }

&.local_open:before { content: "\e623"; }

&.basement2_icon:before { content: "\e6c7"; }

&.ic_ide_alios:before { content: "\e628" }


}

