.debug_threads {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.debug_threads_item {
  display: flex;
  align-items: center;
  padding: 0 5px;
  height: 22px;
  width: 100%;
  background: #333;
  cursor: pointer;
}
.debug_threads_item_label {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.debug_threads_item_description {
  text-transform: uppercase;
  white-space: nowrap;
}
