@import '~@ali/ide-core-browser/lib/style/variable.less';

.debug_console {
  width: 100%;
  height: 100%;
  padding-bottom: 22px;
}

.debug_console_toolbar {
  select {
    line-height: @kt-content-line-height;
    font-size: @kt-content-font-size;
    height: @kt-content-line-height;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--dropdown-border);
    padding: 0 5px;
    box-sizing: border-box;
    background-color: var(--dropdown-background);
    color: var(--dropdown-foreground);
    & > option {
      background-color: var(--dropdown-listBackground)
    }
  }
}

.variable_repl_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  border-top: 1px solid hsla(0,0%,50%,.35);
  width: 100%;
  overflow: hidden;
  background-color: var(--input-background);
  &:before {
    left: 8px;
    position: absolute;
    content: "\276f";
    line-height: 22px;
  }
}

.variable_repl_text {
  &.warn {
    color: #cd9731;
  }
  &.error {
    color: #f48771;
  }
  &.info {
    color: #cbcdd2;
  }
}
