@import '~@ali/ide-core-browser/lib/style/variable.less';

.debug_configuration_toolbar,
.kt_debug_action_bar {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;

  .debug_selection {
    width: 100%;
    margin-left: 10px;
  }
  .debug_run_action {
    background: #167CDB;
    border-radius: 0 4px 4px 0;
    width: 24px;
    height: 24px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 6px;
  }
}

