name: E2E Test

on:
  workflow_dispatch:
  push:
    branches: [main, v*.*]
  pull_request:
    branches: [main, v*.*]

# Cancel prev CI if new commit come
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: ubuntu-latest, Node.js 20.x

    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install libsecret-1
        run: sudo apt-get update && sudo apt-get install -y libsecret-1-dev

      - name: Use Node.js "20.x"
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Get yarn cache directory path
        id: yarn_cache_dir_path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        id: yarn_cache
        with:
          path: ${{ steps.yarn_cache_dir_path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('./yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install
        run: |
          yarn install --immutable

      - name: Init
        run: yarn run init

      - name: Run & Test
        run: |
          yarn run download-extension
          yarn run rebuild:node
          SUPPORT_LOAD_WORKSPACE_BY_HASH=true yarn start:e2e &
          bash tools/playwright/scripts/wait.sh && cd tools/playwright && yarn run ui-tests-ci

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: tools/playwright/test-results
